{% extends "base_dashboard.html" %}
{%block titulo%}Cadastro de Usuário{%endblock%}

{% block css %}
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button {
        -webkit-appearence: none !important;
        margin: 0 !important;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block conteudo %}

<div class="card pessoa" id="pessoa">
    <div class="card-body">
        <div class="form-group row">
            <h3>Dados de Acesso ao Sistema</h3>
        </div>
        <div class="form-validation">

            <form class="form-valide" action="#" method="POST" id="form">
                {% include "usuario/usuario_form.html" %}
            </form>

        </div>
    </div>
</div>

{% endblock %}
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
{% block scripts %}
<script src="{{url_for('static',filename='js/validar_form_cadastro_adm.js')}}"></script>
<script src="{{url_for('static',filename='js/form_utils.js')}}"></script>
<script src="{{url_for('static',filename='js/usuarioForm_utils.js')}}"></script>
<script>
    trataBotaoForm();

    //CHAMO A VALIDACAO
    validarCampoBolsista();

    //LINKO A VALIDACAO AO CAMPO bolsista
    document.getElementById('bolsista').onchange = function () { validarCampoBolsista() };
    document.getElementById('inicio_bolsa').onchange = function () {defineMinimoDataFinalBolsista()}
    document.getElementById('fim_bolsa').onchange = function () {defineMaximoDataInicialBolsista()}

    document.addEventListener("wheel", function (event) {
        if (document.activeElement.type === "number") {
            document.activeElement.blur();
        }
    });
</script>
<script>
    $(document).ready(function($){
        $("#formcpf").mask('000.000.000-00');
        $("#formcel").mask('(00) 00000-0000');
        $("#formtel").mask('(00) 0000-0000');
    })
</script>
{%endblock%}