<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Gestão Legal DAJ</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{{url_for('static', filename='app_tema/assets/css/app.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/bundles/izitoast/css/iziToast.min.css')}}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='app_tema/assets/css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='app_tema/assets/css/components.css')}}">
  <!-- Custom style CSS -->
  <link rel='shortcut icon' type='image/x-icon'
    href="{{url_for('static', filename='imgs_daj/gestao_legal_home.png')}}" />
</head>
<style>
  .card .card-header-auth {
    background: linear-gradient(135deg, #38B5FD, 100%, #583a63 100%) !important;
  }

  .card .card-header-auth h4 {
    color: #ffffff !important;
  }

  .btn-auth-color {
    background: linear-gradient(135deg, #38B5FD, 100%, #583a63 100%) !important;
    color: #ffffff !important;
  }

  p.obs-pass {
    color: #6F818C;
    font-size: 12px;
    line-height: 16px;
  }
</style>

<body>
  <div class="loader"></div>
  <div id="flashes" class="d-none">
    <div id="flashes" class="d-none">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div data-category="{{category}}" class="flash-message">{{message}}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="fixed-top p-3">
    <div id="liveToast" class="toast ml-auto" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-header">
        <span>
          <i class="fas fa-check-square text-success mr-2"></i>
        </span>
        <strong class="mr-auto">Senha alterada com sucesso</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Sua nova senha foi salva e agora é só fazer login normalmente.
      </div>
    </div>
  </div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand login-brand-color">
              <div class="logo"><img alt="image" width="177" height="200"
                  src="{{url_for('static', filename='imgs_daj/gestao_legal_teste.png')}}"></div>
            </div>
            <div class="card">
              <div class="card-header card-header-auth">
                <h4>Recuperação de senha</h4>
              </div>
              <div class="card-body">
                <form method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <div class="form-group">
                    <label for="password">Informe uma senha <small>(No mínimo 8 caracteres)</small></label>
                    <input id="password" name="password" type="password" class="form-control" tabindex="1" required
                      autofocus>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Repita sua senha</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" tabindex="1"
                      required>
                  </div>
                  <div class="form-group">
                    <button id="submit" type="submit" class="btn btn-lg btn-block btn-auth-color" tabindex="4">
                      Salvar
                    </button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="{{url_for('static', filename='app_tema/assets/js/app.min.js')}}"></script>
  <!-- JS Libraies -->
  <script src="{{url_for('static', filename= 'app_tema/assets/bundles/izitoast/js/iziToast.min.js')}}"></script>
  <!-- Page Specific JS File -->
  <script src="{{url_for('static',filename='js/base-utils.js')}}"></script>
  <!-- Template JS File -->
  <script src="{{url_for('static', filename='app_tema/assets/js/scripts.js')}}"></script>
  <script defer>
    const form = document.querySelector("form");
    const clearMessage = () => {
      const messages = document.querySelectorAll(".alert-danger");
      if (messages.length > 0) {
        for (message of messages) {
          message.remove();
        }
      }
    }
    const loading = () => {
      let btnSubmit = document.querySelector("#submit");
      if (btnSubmit.classList.value.includes("active")) {
        btnSubmit.disabled = false;
        btnSubmit.innerHTML = "";
        btnSubmit.textContent = "Salvar";
      }
      else {
        btnSubmit.disabled = true;
        btnSubmit.innerHTML = ""
        btnSubmit.insertAdjacentHTML("afterbegin", `
        <span class="spinner-border text-light" style="width: 1rem; height: 1rem;" role="status">
          <span class="sr-only">Loading...</span>
          </span>
          `)
      }
      btnSubmit.classList.toggle('active');

    }
    form.onsubmit = async (e) => {
      e.preventDefault();
      clearMessage();
      loading()
      if (form.password.value.length < 8) {
        form.password.parentElement.insertAdjacentHTML("beforeend", `<p class="alert alert-danger mt-2 py-1">A senha precisa ter 8 caracteres</p>`)
        loading();
        return;
      }
      if (form.confirmPassword.value.length < 8) {
        form.confirmPassword.parentElement.insertAdjacentHTML("beforeend", `<p class="alert alert-danger mt-2 py-1">A senha precisa ter 8 caracteres</p>`)
        loading();
        return;
      }
      if (form.password.value !== form.confirmPassword.value) {
        form.confirmPassword.parentElement.insertAdjacentHTML("beforeend", `<p class="alert alert-danger mt-2 py-1">As senhas não coincidem</p>`)
        loading();
        return;
      }

      let res = await fetch(window.location.href, {
        method: "POST",
        headers: {
          'X-CSRF-Token': "{{ csrf_token() }}",
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ password: form.password.value, confirmPassword: form.confirmPassword.value })
      })
      let data = await res.json()
      if(data.status === "success"){
        $("#liveToast").toast('show')
        setTimeout(() => {
          window.location.href= "{{url_for('usuario.login')}}"
        }, 2000)
      }
      loading();
    }
  </script>
</body>

</html>