<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='imgs_daj/GL_icon.png')}}" />  
   
    <style>
        img {
        max-height: 100px;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th colspan="3">
                    <img src="{{url_for('static', filename='imgs_daj/gestao_legal_teste.png')}}" alt="" >
                    <img src="{{url_for('static', filename='imgs_daj/logo_DAJ_pequeno.png')}}" alt="" >
                    <img src="{{url_for('static', filename='imgs_daj/logo_ufmg.jpg')}}" alt="" >
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    <h2>Relatório de Casos Arquivados/Solucionados/Ativos</h2>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    <h3>Direito Ambiental</h3>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    <h4>01/01/2020 - 01/02/2020</h4>
                </th>
            </tr>
            <tr>
                <th scope="col">Nº de Casos Arquivados</th>
                <th scope="col">Nº de Casos Solucionados</th>
                <th scope="col">Nº de Casos Ativos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>42</td>
                <td>333</td>
                <td>1</td>
            </tr>
            <tr>
                <td>58</td>
                <td>11</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>
    <footer>
        <div> 
            <h6>Emitido em: 10/10/10</h6>
            <h6>Emitido por: Ana</h6>
        </div>
    </footer>
  </body>