<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='imgs_daj/GL_icon.png')}}" />  
 
<style>
  img {
    max-height: 100px;
  }

</style>
</head>
<body>
  <div class="row m-3" >
    <div>
      <img src="{{url_for('static', filename='imgs_daj/gestao_legal_teste.png')}}" alt="" >
    
    
      <img src="{{url_for('static', filename='imgs_daj/logo_DAJ_pequeno.png')}}" alt="" >
    
  
      <img src="{{url_for('static', filename='imgs_daj/logo_ufmg.jpg')}}" alt="" >
    </div>
  </div>
  <div >
    <h2>Relátorio Nº de Casos Orientação Jurídica</h2>
    <h4>01/01/2020 - 01/02/2020</h4>
  </div>
<table >
    <thead >
      <tr>
        <th scope="col">Área do direito</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>civel</td>
        <td>12</td>
      </tr>
      <tr>
        <td>criminal</td>
        <td>1</td>
      </tr>
      
    </tbody>
  </table>
  <footer>
    <div> 
      <div>
        <div><h6>Emitido em: 10/10/10</h6></div>
        <div><h6>Emitido por: Julia</h6></div>
      </div>
    </div>
  </footer>
</body>