<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='imgs_daj/GL_icon.png')}}" />  
   
    <style>
        img {
        max-height: 100px;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th colspan="4">
                    <img src="{{url_for('static', filename='imgs_daj/gestao_legal_teste.png')}}" alt="" >
                    <img src="{{url_for('static', filename='imgs_daj/logo_DAJ_pequeno.png')}}" alt="" >
                    <img src="{{url_for('static', filename='imgs_daj/logo_ufmg.jpg')}}" alt="" >
                </th>
            </tr>
            <tr>
                <th colspan="4">
                    <h2>Relátorio de Horários</h2>
                </th>
            </tr>
            <tr>
                <th colspan="4">
                    <h4>01/01/2020 - 01/02/2020</h4>
                </th>
            </tr>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Nome do Estagiário</th>
                <th scope="col">Horário de Entrada</th>
                <th scope="col">Horário de Saída</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11/11/11</td>
                <td>Ana</td>
                <td>10:00</td>
                <td>11:00</td>
            </tr>
            <tr>
                <td>12/11/11</td>
                <td>Flávia</td>
                <td>11:58</td>
                <td>11:15</td>
            </tr>
        </tbody>
    </table>
    <footer>
        <div> 
            <h6>Emitido em: 10/10/10</h6>
            <h6>Emitido por: Ana</h6>
        </div>
    </footer>
  </body>