services:
  app_gl:
    environment:
      - FLASK_ENV=production
    command: gunicorn --bind 0.0.0.0:5000 --workers=4 --timeout=300 wsgi:app

  db_gl:
    volumes:
      - type: bind
        source: /opt/docker_volumes/mysql_data
        target: /var/lib/mysql
