{% extends "base_dashboard.html" %}
{% import "base_form.html" as formutils %}
{%block titulo%}Editar Evento #{{id_evento}}{%endblock%}
{% block conteudo %}
<div class="card">
    <div class="card-body">
        <form class="form" action="" method="POST" id="form" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form-group row">
                {{formutils.form_label(form.data_evento, class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                 <div class="col-12 col-lg-6 offset-lg-1">
                     {{formutils.form_field(form.data_evento, type='date', class='form-control')}}
                 </div>
            </div>
            <div class="form-group row">
               {{formutils.form_label(form.tipo, class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                <div class="col-12 col-lg-6 offset-lg-1">
                    {{formutils.form_field(form.tipo, class_='form-control')}}
                </div>
            </div>
            <div class="form-group row">
                {{formutils.form_label(form.descricao, class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                 <div class="col-12 col-lg-6 offset-lg-1">
                     {{formutils.form_field(form.descricao, class='w-100', rows='10')}}
                 </div>
            </div>
            <div class="form-group row">
                {{formutils.form_label(form.arquivo, class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                 <div class="col-12 col-lg-6 offset-lg-1">
                     {{formutils.form_field(form.arquivo)}}
                 </div>
             </div>
            <div class="form-group row">
                <div class="col-12 col-lg-6 offset-lg-1">
                {{form.submit(class='btn btn-primary')}}
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/novo_caso.js')}}"></script>
{% endblock scripts %}