{% extends "base_dashboard.html" %} 

{% block titulo %}Meus Casos{% endblock %} 

{%block modal %}

  {% include 'modais_card_caso.html' %}

{% endblock %}

{% block conteudo %}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="d-flex ml-auto" style="background-color: none;">
                <div class="ml-auto p-2 ">
                    <select class="form-control" id="filtro" name="filtro">
            <option value="{{opcoes_filtro_meus_casos['ATIVO'][0]}}">{{opcoes_filtro_meus_casos['ATIVO'][1]}}</option>
            <option value="{{opcoes_filtro_meus_casos['ARQUIVADO'][0]}}">{{opcoes_filtro_meus_casos['ARQUIVADO'][1]}}</option>
            <option value="{{opcoes_filtro_meus_casos['CADASTRADO_POR_MIM'][0]}}">{{opcoes_filtro_meus_casos['CADASTRADO_POR_MIM'][1]}}</option>
          </select>
                </div>

                <div class="d-flex flex-row ">
                    {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0]] %}
                    <button type="submit" name="button" class="btn btn-primary ml-auto p-2">
                        <a style="color: inherit; text-decoration: none;" href="{{url_for('casos.novo_caso')}}">Cadastrar Caso</a>
                    </button>
                    {% endif %}
                </div>
            </div>
            <br>

            <div class="section-body">
                <div class="row" id="row_casos">

                    {% include 'busca_casos.html' %}

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock conteudo %} 

{% block scripts %}
<script src="{{url_for('static',filename='js/card_caso.js')}}"></script>
<script>

    $(document).ready(function() {

        $("#filtro").change(function() {

            $.ajax({
                method: "GET",
                url: "{{url_for('casos.ajax_filtro_meus_casos')}}",
                data: {
                    opcao_filtro: $('#filtro').val()
                },
                success: (result) => {
                    document.getElementById('row_casos').innerHTML = '';
                    $('#row_casos').append(result);
                }
            })

        });

        document.getElementById('filtro').value = "{{opcao_filtro}}"
    });

    
</script>
{% endblock %}