{% extends "base/painel_principal.html" %}
{%block titulo%}Editar Assistência Judiciária{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button{
        -webkit-appearence:none!important;
        margin:0!important;
    }
    input[type=number] {
    -moz-appearance:textfield;
    appearance:textfield;
    }
    
</style>
{% endblock %}

{% block conteudo %}

<div class="card pessoa" id = "pessoa">
    <div class="card-body">
        <div class="form-group row" ><h4>Editar Assistência Judiciária</h4></div>
        <div class= "form-validation">
            <form class="form-valide" action="#" method="POST" id="form">

                {% include "assistencia_judiciaria/formularios/assistencia_judiciaria_form.html" %}

                {{form.submit(class_="btn btn-primary")}}
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/form_utilities.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        FormUtils.initializeFormWithValidation({
            formId: 'form',
            buttonId: 'submit',
            masks: [],
            conditionalFields: [],
            dateRanges: [],
            preventWheel: true,
            enableValidation: true
        });
    });
</script>
{% endblock %}
