<nav class="d-inline-block">
  <ul class="pagination mb-0">
    {% for page_num in assistencias.iter_pages(left_edge=3, right_edge=3,
    left_current=2, right_current=2) %} {% if page_num and assistencias.page ==
    page_num%}
    <li class="page-item active">
      <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% elif page_num %}
    <li class="page-item">
      <button
        id="button_paginacao_aj"
        class="page-link"
        onclick="ajax_tbl_assistencia_judiciaria('{{ page_num }}')"
        >
        {{ page_num }}
        </button>
      {% else %}
    </li>

    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %} {% endfor %}
  </ul>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Região</th>
      <th>Áreas do Direito</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Ações</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for assistencia in assistencias.items %}

    <tr>
      <td>{{assistencia.nome}}</td>
      {% for key in assistencia_jud_regioes %} {% if
      assistencia_jud_regioes[key][0] == assistencia.regiao %}
      <td>{{assistencia_jud_regioes[key][1]}}</td>
      {% endif %} {% endfor %}
      <td>
        {% set vars = {'espaco': False} %} {% for key in
        assistencia_jud_areas_atendidas %} {% if
        assistencia_jud_areas_atendidas[key][0] in
        assistencia.areas_atendidas %} {% if not vars.espaco %}
        <span>{{assistencia_jud_areas_atendidas[key][1]}}</span>
        {% if vars.update({'espaco': True}) %}{% endif %} {% else %}
        <br /><span>{{assistencia_jud_areas_atendidas[key][1]}}</span>
        {% endif %} {% endif %} {% endfor %}
      </td>
      <td>{{assistencia.telefone}}</td>
      <td>{{assistencia.email}}</td>

      <td>
        <button type="submit" class="btn mr-2 btn-flat btn-primary btn-sm">
          <a
            href="{{url_for('plantao.perfil_assistencia_judiciaria', _id=assistencia.id)}}"
            style="text-decoration: none; color: aliceblue;"
            >Visualizar</a
          >
        </button>
      </td>
      <td>
        <button
          type="submit"
          class="btn mr-2 btn-flat btn-primary btn-sm"
          name="button"
        >
          <a
            href="{{url_for('atendido.editar_assistencia_judiciaria', id_assistencia_judiciaria = assistencia.id)}}"
            style="text-decoration: none; color: aliceblue;"
            >Editar</a
          >
        </button>
      </td>

      {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['COLAB_PROJETO'][0]] %}
      <td>
        <button
          type="submit"
          class="btn mb-1 ml-1 btn-flat btn-danger btn-sm"
          onclick="return confirm('Tem certeza que deseja excluir esta assistência judiciária?');"
        >
          <a
            href="{{url_for('plantao.excluir_assistencia_judiciaria', _id=assistencia.id)}}"
            style="text-decoration: none; color: aliceblue;"
            >Excluir</a
          >
        </button>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
