{% if lista %}
  

  {% for atendido in lista %}    
      <tr>

        <td>
          {{atendido.nome}}
        </td>
        <td>
            {% if encaminhar_outras_aj == 'True' %}   
                <button type="button" class="btn mb-1 btn-flat btn-primary btn-sm" name="button"
                onclick="setAssociacaoAj(document.getElementById('url{{atendido.id}}').value, document.getElementById('nome{{atendido.id}}').value)">
                  Associar à Orientação Jurídica
                </button>
                <input type="hidden" id="url{{atendido.id}}" value="{{url_for('plantao.associacao_orientacao_juridica', id_orientacao = orientacao_entidade.id, id_atendido=atendido.id, encaminhar_outras_aj=encaminhar_outras_aj)}}">
                <input type="hidden" id="nome{{atendido.id}}" value="{{atendido.nome}}">
            {% else %}
              <form class="form-valide" action="{{url_for('plantao.associacao_orientacao_juridica', id_orientacao = orientacao_entidade.id, id_atendido=atendido.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn mb-1 btn-flat btn-primary btn-sm" name="button">Associar à Orientação Jurídica</button>
              </form>
            {% endif %}
        </td>
      </tr>
  {% endfor %}
      

{% else %}
  <div style="margin: 15px;">
    <h3>Não foi encontrado nenhum atendido, deseja cadastrar um novo atendimento?</h3>
    <a href="{{url_for('plantao.cadastro_na')}}" class="btn btn-primary ml-auto p-2">Cadastrar novo atendido</a>
  </div>
{% endif %}