{% extends "base_dashboard.html" %}
{%block titulo%}Cadastro{%endblock%}
{% block conteudo %}
<div class="card pessoa" id = "pessoa">
    <div class="card-body">
        <div class="form-group row" ><h3>Novo Atendido</h3></div>
        <div class= "form-validation">
            <form class="form-valide" action="{{url_for('plantao.cadastro_na')}}" method="POST" id="form">
                
                {% include "atendido_form.html" %}

                <button type="submit" class="btn btn-primary" id="button">Cadastrar</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.mask.js')}}"></script>
<script src="{{url_for('static',filename='js/form_utils.js')}}"></script>
<script src="{{url_for('static',filename='js/atendidoForm_utils.js')}}"></script>
<script>
    trataBotaoForm();

    //CHAMO AS VALIDACOES
    validarPjConstituida();
    validarCampoComo_conheceu("{{como_conheceu_daj['ORGAOSPUBLICOS'][1]}}");
    validarCampoProcurou_outro_local();
    validarRepresLegal();

    //LINKO A VALIDACAO AOS CAMPOS
    document.getElementById('pj_constituida').onchange = function() {validarPjConstituida()};
    document.getElementById('como_conheceu').onchange = function() {validarCampoComo_conheceu("{{como_conheceu_daj['ORGAOSPUBLICOS'][1]}}")};
    document.getElementById('procurou_outro_local').onchange = function() {validarCampoProcurou_outro_local()};
    document.getElementById('repres_legal').onchange = function(){validarRepresLegal()};
</script>
<script>
    $(document).ready(function($){
        $("#formcpf").mask('000.000.000-00');
        $("#formcpfrepr").mask('000.000.000-00');
        $("#formcel").mask('(00) 00000-0000');
        $("#formtel").mask('(00) 0000-0000');
    })
</script>
{%endblock%}
