{% extends "base_dashboard.html" %}
{%block titulo%}Cadastro{%endblock%}
{% block css %}
<style>
    .container-modal-queue {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 999;
    }

    .modal-queue {
        padding: 2rem;
    }

    .modal-queue h1 {
        font-size: 18px;
        text-align: center;
        line-height: 25px;
        font-weight: 600;
        color: #142129;
    }

    .modal-queue label {
        font-size: 1rem;
        font-weight: 600;
        line-height: 22px;
        color: #1A1E21;
    }

    .modal-queue label+p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: #3F5059;
    }

    .queue-body {
        padding: 2rem;
        gap: 2rem;
    }

    .modal-queue .separator {
        overflow: hidden;
        height: 226px;
        flex-basis: 1px;
        border: 1px solid #EAEEF0;
        margin: auto 0;
    }

    .modal-queue .content {
        flex: 1
    }

    .modal-queue .password-queue {
        flex-basis: 186px;
    }

    .setor {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .senha-atendido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .senha-atendido>p {
        text-align: center;
    }

    .senha-atendido>p:first-child {
        font-size: 18px;
        line-height: 28px;
        color: #283A45;
        margin-bottom: 0;
    }

    .senha-atendido>.senha {
        font-size: 48px;
        line-height: 57px;
        color: #0062B8;
        font-weight: 600;
    }
</style>
{% endblock %}
{% block conteudo %}
<div class="card pessoa" id="pessoa">
    <div class="card-body">
        <div class="form-group row">
            <h3>Novo Atendido</h3>
        </div>
        <div class="form-validation">
            <form class="form-valide" action="{{url_for('plantao.cadastro_na')}}" method="POST" id="form">

                {% include "atendido_form.html" %}

                <button type="submit" class="btn btn-primary" id="button">Cadastrar</button>
                <button id="insertQueue" type="submit" class="btn btn-outline-primary">Cadastrar e incluir na fila de
                    atendimento</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
<div class="container-modal-queue border d-none">
    <div class="modal-queue bg-white text-dark" style="max-width: 680px;">
        <div class="queue-header">
            <h1>Escolha o tipo de senha</h1>
        </div>
        <div class="queue-body d-flex flex-row align-items-stretch">
            <div class="content">
                <div class="row-input d-flex align-items-start mb-4">
                    <input style="width: 20px; height: 20px;" type="radio" name="senha" value="N" id="senhaNormal">
                    <div class="col p-0 ml-2">
                        <label class="m-0" for="senhaNormal">Normal</label>
                        <p class="m-0">Público em geral</p>
                    </div>
                </div>
                <div class="row-input d-flex align-items-start mb-4">
                    <input style="width: 20px; height: 20px;" type="radio" name="senha" value="P" id="senhaPrioridade">
                    <div class="col p-0 ml-2">
                        <label class="m-0" for="senhaPrioridade">Prioridade</label>
                        <p class="m-0">Idosos até 80 anos; pessoas com deficiência; gestantes; lactantes; pessoas com
                            crianças de colo e obesos</p>
                    </div>
                </div>
                <div class="row-input d-flex align-items-start mb-4">
                    <input style="width: 20px; height: 20px;" type="radio" name="senha" value="S"
                        id="senhaSuperPrioridade">
                    <div class="col p-0 ml-2">
                        <label class="m-0" for="senhaSuperPrioridade">Super Prioridade</label>
                        <p class="m-0">Idosos acima de 80 anos.</p>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="password-queue d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary d-none" style="width: 80px; height: 80px; border-width: 10px;"
                    role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="senha-atendido d-none">
                    <p>Senha do atendido</p>
                    <p class="senha"></p>
                </div>
            </div>
        </div>
        <div class="queue-footer">
            <div class="setor">
                <div class="col p-0 d-flex justify-content-center align-items-center">
                    <input style="width: 20px; height: 20px;" type="checkbox" name="setor" value="1" id="psicologia">
                    <label class="m-0 ml-2" for="psicologia">Há atendimento da psicologia</label>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <button id="closeModal" type="button" class="btn btn-outline-primary">Voltar</button>
                    <button id="createQueue" type="button" class="btn btn-primary" style="margin-left: 12px;">Cadastrar
                        e Incluir na
                        Fila</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
{% block scripts %}
<script src="{{url_for('static',filename='js/form_utils.js')}}"></script>
<script src="{{url_for('static',filename='js/atendidoForm_utils.js')}}"></script>
<script>
    trataBotaoForm();

    //CHAMO AS VALIDACOES
    validarPjConstituida();
    validarCampoComo_conheceu("{{como_conheceu_daj['ORGAOSPUBLICOS'][1]}}");
    validarCampoProcurou_outro_local();
    validarRepresLegal();

    //LINKO A VALIDACAO AOS CAMPOS
    document.getElementById('pj_constituida').onchange = function () { validarPjConstituida() };
    document.getElementById('como_conheceu').onchange = function () { validarCampoComo_conheceu("{{como_conheceu_daj['ORGAOSPUBLICOS'][1]}}") };
    document.getElementById('procurou_outro_local').onchange = function () { validarCampoProcurou_outro_local() };
    document.getElementById('repres_legal').onchange = function () { validarRepresLegal() };
</script>
<script defer>
    const ajaxCadastrar = async () => {
        let formArray = $("#form").serializeArray();
        let obj = {};
        formArray.map(item => {
            obj[item.name] = item.value;
        })

        let res = await fetch("{{url_for('plantao.ajax_cadastrar_atendido')}}", {
            method: "POST",
            headers: {
                'X-CSRF-Token': "{{ csrf_token() }}",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        })
        let data = await res.json();
        if(data.id){
            criarAtendimento(data.id)
        }
    }
    const clearMessage = () => {
        let messages = document.querySelectorAll(".form-group + .alert-danger");
        if(messages.length > 0){
            for( message of messages){
                message.remove();
            }
        }
    }
    const criarAtendimento = async (id) => {
        let prioridade;
        let radio = document.querySelector(".queue-body input[type=radio]:checked");
        let psicologia = document.querySelector(".queue-footer input[type=checkbox]").checked;
        let senha = document.querySelector("p.senha").textContent;
        id_atendido = id

        if (radio) {
            switch (radio.value) {
                case "N":
                    prioridade = 0;
                    break;
                case "P":
                    prioridade = 1;
                    break;
                case "S":
                    prioridade = 2;
                    break;
            }
            let obj = { prioridade, psicologia: psicologia ? 1 : 0, senha, id_atendido }
            console.log("OBJ", obj)
            let res = await fetch(`{{url_for('plantao.criar_fila')}}`, {
                method: "POST",
                headers: {
                    'X-CSRF-Token': "{{ csrf_token() }}",
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
            });
            let data = await res.json();
            if (data.message === "success") {
                window.location.href = "{{url_for('plantao.fila_atendimento')}}"
            }
        }
    }
    const gerarSenha = async (prioridadeStr) => {
        document.querySelector(".spinner-border").classList.toggle("d-none");
        document.querySelector(".senha-atendido").classList.add("d-none");
        let prioridade;
        switch (prioridadeStr) {
            case "N":
                prioridade = 0;
                break;
            case "P":
                prioridade = 1;
                break;
            case "S":
                prioridade = 2;
                break;
        }
        let res = await fetch("/plantao/fila-atendimento/gerar-senha/" + prioridade, {
            headers: {
                'X-CSRF-Token': "{{ csrf_token() }}",
            }
        })
        let data = await res.json();
        setTimeout(() => {
            document.querySelector(".spinner-border").classList.toggle("d-none");
            document.querySelector(".senha-atendido").classList.toggle("d-none");
            document.querySelector(".senha-atendido .senha").textContent = `${prioridadeStr}${data.senha}`
        }, 1000)

    }
    $(document).ready(function ($) {
        $("#formcpf").mask('000.000.000-00');
        $("#formcpfrepr").mask('000.000.000-00');
        $("#formcnpj").mask('00.000.000/0000-00');
        $("#formcel").mask('(00) 00000-0000');
        $("#formtel").mask('(00) 0000-0000');
        $("#formcep").mask('00000-000');
        $("#formcep").on("focusout", async (e) => {
            let res = await fetch(`https://viacep.com.br/ws/${e.target.value.replace("-", "")}/json/`)
            let data = await res.json();
            // console.log(data);
            if (data.erro) {
                form.logradouro.value = "";
                form.bairro.value = "";
                form.cidade.value = "";
                form.estado.value = "";
                return;
            }
            form.logradouro.value = data.logradouro
            form.bairro.value = data.bairro
            form.cidade.value = data.localidade
            form.estado.value = data.uf
        });
        form.sem_numero.onclick = () => {
            if (form.sem_numero.checked) {
                form.numero.setAttribute("readonly", true);
                form.numero.value = "S/N";
            }
            else {
                form.numero.removeAttribute("readonly");
                form.numero.value = "";
            }
        }
        $("#insertQueue").on("click", async (e) => {
            e.preventDefault();
            clearMessage();
            let errors = 0;
            if(form.nome.value === ""){
                form.nome.parentElement.parentElement.insertAdjacentHTML("afterend", '<div class="alert alert-danger">O campo nome não pode ficar em branco.</div>')
                errors++;
            }
            if(form.formcel.value === ""){
                form.formcel.parentElement.parentElement.insertAdjacentHTML('afterend', `<div class="alert alert-danger">O campo telefone celular não pode ficar em branco.</div>`);
                errors++;
            }
            if(form.formcep.value === ""){
                form.formcep.parentElement.parentElement.insertAdjacentHTML('afterend', `<div class="alert alert-danger">O campo CEP não pode ficar em branco.</div>`);
                errors++;
            }
            if(form.logradouro.value === ""){
                form.logradouro.parentElement.parentElement.insertAdjacentHTML('afterend', `<div class="alert alert-danger">O campo logradouro não pode ficar em branco.</div>`);
                errors++;
            }
            if(form.bairro.value === ""){
                form.bairro.parentElement.parentElement.insertAdjacentHTML('afterend', `<div class="alert alert-danger">O campo bairro não pode ficar em branco.</div>`);
                errors++;
            }
            if(form.cidade.value === ""){
                form.cidade.parentElement.parentElement.insertAdjacentHTML('afterend', `<div class="alert alert-danger">O campo cidade não pode ficar em branco.</div>`);
                errors++;
            }
            if(form.estado.value === ""){
                form.estado.parentElement.parentElement.insertAdjacentHTML('afterend', `<div class="alert alert-danger">O campo estado não pode ficar em branco.</div>`);
                errors++;
            }
            if(errors === 0){
                document.querySelector(".container-modal-queue").classList.toggle("d-none");
            }
            else{
                window.scrollTo({
                    top: document.querySelector(".form-group + .alert-danger").offsetTop,
                    behavior: "smooth"
                })
            }

        })
    })
    const radios = document.querySelectorAll(".queue-body input[type=radio]");
    document.querySelector("#closeModal").addEventListener("click", () => {
        document.querySelector(".container-modal-queue").classList.toggle("d-none")
    });
    Array.from(radios).map((item) => {
        item.onclick = async () => {
            gerarSenha(item.value);
        }
    })
    document.querySelector("#createQueue").addEventListener("click", ajaxCadastrar)
</script>
{%endblock%}