{% extends "base_dashboard.html" %}

{% block titulo %}
  Encaminhar para outras Assistências Judiciárias
{% endblock titulo %}

{% block css %}
<!-- jQuery select2 -->
<link rel="stylesheet" href="{{url_for('static', filename='temas_externos/select2.min.css')}}">
{% endblock %}

{% block conteudo %}
<div class="card">
  <div class="card-body">
    <div class="card-title">

      <form class="form-valide" action="" method="POST" id="form_multiselect_aj">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row" id="div_multiselect_aj">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="" for="id_multiselect_aj">Assistências Judiciárias: </label>
              <select class="multiselect_aj form-control" multiple="multiple" id="id_multiselect_aj" name="multiselect_aj[]">
               {% for aj in assistencias_judiciarias %}
               <option value="{{aj.id}}">{{aj.nome}}</option>
               {% endfor %}
              </select>
              <button type="submit" class="btn btn-flat btn-primary mt-2" name="button">
                Confirmar associação
              </button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

{%endblock%}

{% block scripts %}
<!-- jQuery select2 -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<script> 

  $(document).ready(function() {

    //ajax do multiselect de assistências judiciárias
    let token = document.getElementById('csrf_token').value;
    let arr = [];
    
    $('.multiselect_aj').select2();

    $('#id_multiselect_aj').on({
      change: (event) => {
       let ids = [];
       let options = $('#id_multiselect_aj option:checked');
       let values = $.map(options, (option) => {
         return ids.push(option.value);
       });
       console.log(ids);
       arr.push(ids);
      }
    });

    $('#form_multiselect_aj').on({
      submit: (event) => {
        let dado = arr[arr.length - 1];

        $.ajax({
         type: "POST",
         url: "{{url_for('plantao.encaminha_assistencia_judiciaria',id_orientacao = id_orientacao)}}",
         headers: {
          'X-CSRF-Token': token
         },
         dataType: 'application/json',
         data: {'dados': dado},
       });
  
      }
    });

  });
</script>

{% endblock %}
