{% from "components/card_template.html" import card %}
{% from "components/field_template.html" import card_field %}

{% extends 'base_dashboard.html' %}
{% block css %}
<style>
    .badge-custom {
        background-color: #DBF2FF;
        color: #0062B8;
        font-size: 12px !important;
        line-height: 16px !important;
        margin-left: 12px;
        padding: 3px 12px 4px 12px !important;
    }

    .container-modal-queue {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 999;
    }

    .modal-queue {
        padding: 2rem;
    }

    .modal-queue h1 {
        font-size: 18px;
        text-align: center;
        line-height: 25px;
        font-weight: 600;
        color: #142129;
    }

    .modal-queue label {
        font-size: 1rem;
        font-weight: 600;
        line-height: 22px;
        color: #1A1E21;
    }

    .modal-queue label+p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: #3F5059;
    }

    .queue-body {
        padding: 2rem;
        gap: 2rem;
    }

    .modal-queue .separator {
        overflow: hidden;
        height: 226px;
        flex-basis: 1px;
        border: 1px solid #EAEEF0;
        margin: auto 0;
    }

    .modal-queue .content {
        flex: 1
    }

    .modal-queue .password-queue {
        flex-basis: 186px;
    }

    .setor {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .senha-atendido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .senha-atendido > p{
        text-align: center;
    }
    .senha-atendido>p:first-child {
        font-size: 18px;
        line-height: 28px;
        color: #283A45;
        margin-bottom: 0;
    }

    .senha-atendido>.senha {
        font-size: 48px;
        line-height: 57px;
        color: #0062B8;
        font-weight: 600;
    }

</style>
{% endblock %}
{% block titulo %} Perfil {{assistido.Atendido.nome}} {% endblock titulo %}

{% block conteudo %}

<div class="row row-cols-1 row-cols-md-2">
    {% for card_item in cards %}
        {% if card_item.body is defined and card_item.body is not none %}

        {% set body_content %}
        {% for key, value in card_item.body.items() %}
            {{ card_field(
                    title=key,
                    value=value | safe,
                    field_class="mb-4"
                )
            }}
        {% endfor %}
        {% endset %}

        <div class="col">
            {{ card(header=card_item.title, body=body_content) }}
        </div>

        {% endif %}

    {% endfor %}
</div>

{% endblock %}

{% block modal %}
<div class="container-modal-queue border d-none">
    <div class="modal-queue bg-white text-dark" style="max-width: 680px;">
        <div class="queue-header">
            <h1>Escolha o tipo de senha</h1>
        </div>
        <div class="queue-body d-flex flex-row align-items-stretch">
            <div class="content">
                <div class="row-input d-flex align-items-start mb-4">
                    <input style="width: 20px; height: 20px;" type="radio" name="senha" value="N" id="senhaNormal">
                    <div class="col p-0 ml-2">
                        <label class="m-0" for="senhaNormal">Normal</label>
                        <p class="m-0">Público em geral</p>
                    </div>
                </div>
                <div class="row-input d-flex align-items-start mb-4">
                    <input style="width: 20px; height: 20px;" type="radio" name="senha" value="P" id="senhaPrioridade">
                    <div class="col p-0 ml-2">
                        <label class="m-0" for="senhaPrioridade">Prioridade</label>
                        <p class="m-0">Idosos até 80 anos; pessoas com deficiência; gestantes; lactantes; pessoas com
                            crianças de colo e obesos</p>
                    </div>
                </div>
                <div class="row-input d-flex align-items-start mb-4">
                    <input style="width: 20px; height: 20px;" type="radio" name="senha" value="S"
                        id="senhaSuperPrioridade">
                    <div class="col p-0 ml-2">
                        <label class="m-0" for="senhaSuperPrioridade">Super Prioridade</label>
                        <p class="m-0">Idosos acima de 80 anos.</p>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="password-queue d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary d-none" style="width: 80px; height: 80px; border-width: 10px;"
                    role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="senha-atendido d-none">
                    <p>Senha do atendido</p>
                    <p class="senha"></p>
                </div>
            </div>
        </div>
        <div class="queue-footer">
            <div class="setor">
                <div class="col p-0 d-flex justify-content-center align-items-center">
                    <input style="width: 20px; height: 20px;" type="checkbox" name="setor" value="1" id="psicologia">
                    <label class="m-0 ml-2" for="psicologia">Há atendimento da psicologia</label>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <button id="closeModal" type="button" class="btn btn-outline-primary">Voltar</button>
                    <button id="createQueue" type="button" class="btn btn-primary" style="margin-left: 12px;">Cadastrar e Incluir na
                        Fila</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer>
    const radios = document.querySelectorAll(".queue-body input[type=radio]");
    const criarAtendimento = async () => {
        let prioridade;
        let radio = document.querySelector(".queue-body input[type=radio]:checked");
        let psicologia = document.querySelector(".queue-footer input[type=checkbox]").checked;
        let senha = document.querySelector("p.senha").textContent;
        let id_atendido = window.location.pathname.split("/");
        id_atendido = id_atendido[id_atendido.length - 1]
        
        if(radio){
            switch (radio.value) {
                case "N":
                    prioridade = 0;
                    break;
                case "P":
                    prioridade = 1;
                    break;
                case "S":
                    prioridade = 2;
                    break;
            }
            let obj = { prioridade, psicologia: psicologia ? 1 : 0, senha, id_atendido}
            console.log("OBJ", obj)
            let res = await fetch(`{{url_for('plantao.criar_fila')}}`, {
                method: "POST",
                headers: {
                    'X-CSRF-Token': "{{ csrf_token() }}",
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
            });
            let data = await res.json();
            if(data.message === "success"){
                window.location.href = "{{url_for('plantao.fila_atendimento')}}"
            }
        }
    }
    const gerarSenha = async (prioridadeStr) => {
        document.querySelector(".spinner-border").classList.toggle("d-none");
        document.querySelector(".senha-atendido").classList.add("d-none");
        let prioridade;
        switch (prioridadeStr) {
            case "N":
                prioridade = 0;
                break;
            case "P":
                prioridade = 1;
                break;
            case "S":
                prioridade = 2;
                break;
        }
        let res = await fetch("/plantao/fila-atendimento/gerar-senha/" + prioridade, {
            headers: {
                'X-CSRF-Token': "{{ csrf_token() }}",
            }
        })
        let data = await res.json();
        setTimeout(() => {
            document.querySelector(".spinner-border").classList.toggle("d-none");
            document.querySelector(".senha-atendido").classList.toggle("d-none");
            document.querySelector(".senha-atendido .senha").textContent = `${prioridadeStr}${data.senha}`
        }, 1000)

    }
    document.querySelector(".section-header").insertAdjacentHTML("beforeend", `
    <div class="d-flex justify-content-end align-items-center" style="gap: 12px;">
        <button id="addQueue" type="button" class="btn btn-sm btn-outline-primary">Incluir na Fila de Atendimento</button>
        <a class="btn btn-sm btn-primary" href="/plantao/editar_atendido/{{assistido.Atendido.id}}">
            <span>Editar</span> <span><i class="fas fa-edit"></i></span>
        </a>
    </div>
    `);
    document.querySelector(".section-header").classList.add("justify-content-between");
    document.querySelector("#addQueue").addEventListener("click", () => {
        document.querySelector(".container-modal-queue").classList.toggle("d-none")
    });
    Array.from(radios).map((item) => {
        item.onclick = async () => {
            gerarSenha(item.value);
        }
    })
    document.querySelector("#closeModal").addEventListener("click", () => {
        document.querySelector(".container-modal-queue").classList.toggle("d-none")
    });
    document.querySelector("#createQueue").addEventListener("click", criarAtendimento)
</script>
{%endblock%}
