<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{%block titulo%}{% endblock %} - Gestão Legal</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/css/app.min.css')}}">
    <link rel="stylesheet"
        href="{{url_for('static',filename='app_tema/assets/bundles/izitoast/css/iziToast.min.css')}}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/css/components.css')}}">
    <!-- Custom style CSS -->
    <link rel='shortcut icon' type='image/x-icon'
        href="{{url_for('static',filename='app_tema/assets/img/favicon.ico')}}" />

    {%block css%}{%endblock%}

</head>

<body class="theme-blue blue-sidebar">
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"><i
                                    class="fas fa-bars"></i></a></li>
                        <li>
                            <form action="{{url_for('principal.busca_geral')}}" id="form_busca_geral" method="POST">
                                <div class="search-group">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="text" id="busca_geral" name="busca_geral" class="search-control"
                                        placeholder="usuários, assistidos ou casos" aria-label="search"
                                        aria-describedby="search" style="width: 170px;">
                                    <span class="nav-link nav-link-lg" id="search"
                                        onclick="document.getElementById('form_busca_geral').submit()">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>

                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i class="fas fa-expand"></i>
                        </a>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link nav-link-lg"><i class="far fa-envelope"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Notificações</div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image"
                                            src="{{url_for('static', filename='app_tema/assets/img/users/user-1.png')}}"
                                            class="image-square">
                                    </span>
                                    <span class="dropdown-item-desc">
                                        <span class="message-user">Michael Gardner</span>
                                        <span class="time messege-text">Analysis Project and Design Flowchart</span>
                                        <span class="time">2 Min Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image"
                                            src="{{url_for('static', filename='app_tema/assets/img/users/user-2.png')}}"
                                            class="image-square">
                                    </span>
                                    <span class="dropdown-item-desc">
                                        <span class="message-user">Nancy Burton</span>
                                        <span class="time messege-text">Client meeting is cancelled</span>
                                        <span class="time">5 Hour Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image"
                                            src="{{url_for('static', filename='app_tema/assets/img/users/user-5.png')}}"
                                            class="image-square">
                                    </span>
                                    <span class="dropdown-item-desc">
                                        <span class="message-user">Amiah Smith</span>
                                        <span class="time messege-text">Project Planning</span>
                                        <span class="time">12 Hour Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image"
                                            src="{{url_for('static', filename='app_tema/assets/img/users/user-4.png')}}"
                                            class="image-square">
                                    </span>
                                    <span class="dropdown-item-desc">
                                        <span class="message-user">John Doe</span>
                                        <span class="time messege-text">Leave application !!</span>
                                        <span class="time">1 Days Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image"
                                            src="{{url_for('static', filename='app_tema/assets/img/users/user-3.png')}}"
                                            class="image-square">
                                    </span>
                                    <span class="dropdown-item-desc">
                                        <span class="message-user">Wiltor Stone</span>
                                        <span class="time messege-text">Discussion about increment!</span>
                                        <span class="time">2 Days Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image"
                                            src="{{url_for('static', filename='app_tema/assets/img/users/user-2.png')}}"
                                            class="image-square">
                                    </span>
                                    <span class="dropdown-item-desc">
                                        <span class="message-user">Nancy Burton</span>
                                        <span class="time messege-text">Upcoming project meeting</span>
                                        <span class="time text-primary">3 Days Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="{{url_for('usuario.notificaçoes')}}">View All <i
                                        class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                            class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <i class="far fa-user"></i>
                            <span class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">{{current_user.nome|upper or 'Default'}}</div>
                            <a href="{{url_for('usuario.meu_perfil')}}" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Meu Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            {% if (current_user.is_authenticated): %}
                            <a href="{{url_for('usuario.logout')}}" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Fazer Logout
                            </a>
                            {% else: %}
                            <a href="{{url_for('usuario.login')}}" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Fazer Login
                            </a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="{{url_for('principal.index')}}">
                            <!---  <img alt="image" src="{{url_for('static', filename='imgs_daj/Logo_DAJ_pequeno.png')}}"
                                class="header-logo" />-->
                            <span class="logo-name">Gestão Legal</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li>
                            <a href="{{url_for('usuario.listar_usuarios')}}" class="nav-link"><i class="fas fa-user"></i><span>Gestão de
                                    Usuários</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i
                                    class="fas fa-globe"></i><span>Plantão</span></a>
                            <ul class="dropdown-menu" style="display: none;">
                                <li><a href="{{url_for('plantao.listar_atendidos')}}">Atendidos e Assistidos</a></li>
                                {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}
                                <li><a href="{{url_for('plantao.cadastro_orientacao_juridica')}}">Orientações Jurídicas</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>{{self.titulo()}}</h1>
                    </div>
                    <div class="section-body">
                        <div class="container-fluid">
                            <!-- Notificações do sistema(flashes) -->
                            <div id="flashes" class="d-none">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category, message in messages %}
                                <div data-category="{{category}}" class="flash-message">{{message}}</div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            {%block conteudo %}{% endblock %}
                        </div>
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2020 <div class="bullet"></div> Criado por <a
                        href="http://www.ijunior.com.br">iJunior</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="{{url_for('static', filename= 'app_tema/assets/js/app.min.js')}}"></script>
    <!-- JS Libraies -->
    <script src="{{url_for('static', filename= 'app_tema/assets/bundles/izitoast/js/iziToast.min.js')}}"></script>
    <!-- Page Specific JS File -->
    <script src="{{url_for('static',filename='js/base-utils.js')}}"></script>
    <!-- Template JS File -->
    <script src="{{url_for('static',filename='app_tema/assets/js/scripts.js')}}"></script>

    <!-- Mostrar avisos ao usuário -->
    {%block scripts%}
    {% endblock %}

</body>

</html>
