{% extends "base_dashboard.html" %}
{%block titulo%}Cadastro de Orientação Jurídica{%endblock%}

{% block css %}
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button {
        -webkit-appearence: none !important;
        margin: 0 !important;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block conteudo %}
<div class="card pessoa" id="pessoa">
    <div class="card-body">
        <div class="form-group row">
            <h3>Dados da Orientação Jurídica</h3>
        </div>
        <div style="height: 30px;"></div>
        <div class="form-validation">
            <form class="form-valide" action="" method="POST" id="form">

                {% include "orientacao_juridica_form.html" %}

            </form>
        </div>
    </div>
</div>
<div class="card pessoa">
    <div class="card-body d-flex justify-content-end" style="gap:12px;">
        <button type="button" id="case" class="btn btn-outline-primary">Converter em caso</button>
        <button type="button" class="btn btn-primary" id="buttonForward">Continuar</button>
    </div>
</div>
<div class="c-container-modal">
    <div class="c-modal">
        <header class="position-relative justify-content-between align-items-start">
            <div>
                <h2>Tornar Assistido</h2>
                <p>Preencha o questionário socioeconômico do atendido</p>
            </div>
            <div>
                <span class="close">
                    <i class="fas fa-times"></i>
                </span>
            </div>
        </header>
        <div>
            <div class="atendido">
                <span><i class="fas fa-user"></i></span>
                <p>Nome do atendido !!</p>
            </div>
            <div>
                <form class="form" id="orientacao_assistido" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <section>
                        <h2>Dados Pessoais</h2>
                        <div class="form-group">
                            <label for="sexo">Sexo/Gênero <span class="text-danger">*</span></label>
                            <select class="form-control" id="sexo" name="sexo" required="">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="raca">Raça/Cor (autodeclaração) <span class="text-danger">*</span></label>
                            <select class="form-control" id="raca" name="raca" required="">
                                <option value="indigena">Indígena</option>
                                <option value="preta">Preta</option>
                                <option value="parda">Parda</option>
                                <option value="amarela">Amarela</option>
                                <option value="branca">Branca</option>
                                <option value="nao_declarado">Prefere não declarar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="profissao">Profissão <span class="text-danger">*</span></label>
                            <input class="form-control" id="profissao" name="profissao" required="" type="text"
                                value="">
                        </div>
                        <div class="form-group">
                            <label for="rg">RG <span class="text-danger">*</span></label>
                            <input class="form-control" id="rg" name="rg" required="" type="text" value="">
                        </div>
                    </section>
                    <section>
                        <h2>Dados Sociais</h2>
                        <div class="form-group">
                            <label for="grau_instrucao">Grau de instrução <span class="text-danger">*</span></label>
                            <select class="form-control" id="grau_instrucao" name="grau_instrucao" required="">
                                <option value="nao_frequentou">Não frequentou a escola</option>
                                <option value="infantil_inc">Educação infantil incompleta</option>
                                <option value="infantil_comp">Educação infantil completa</option>
                                <option value="fundamental1_inc">Ensino fundamental - 1° ao 5° ano incompletos</option>
                                <option value="fundamental1_comp">Ensino fundamental - 1° ao 5° ano completos</option>
                                <option value="fundamental2_inc">Ensino fundamental - 6° ao 9° ano incompletos</option>
                                <option value="fundamental2_comp">Ensino fundamental - 6° ao 9° ano completos</option>
                                <option value="medio_inc">Ensino médio incompleto</option>
                                <option value="medio_comp">Ensino médio completo</option>
                                <option value="tecnico_inc">Curso técnico incompleto</option>
                                <option value="tecnico_comp">Curso técnico completo</option>
                                <option value="superior_inc">Ensino superior incompleto</option>
                                <option value="superior_comp">Ensino superior completo</option>
                                <option value="nao_info">Não informou</option>
                            </select>
                        </div>
                    </section>
                    <section>
                        <h2>Renda e Patrimônio</h2>
                        <div class="form-group">
                            <label for="salario">Salário <span class="text-danger">*</span></label>
                            <input class="form-control" id="salario" name="salario" required="" step="0.01" min="0"
                                type="number" value="">
                        </div>
                        <div class="form-group">
                            <label for="beneficio">
                                Recebe algum benefício social? <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="beneficio" name="beneficio" required="">
                                <option value="ben_prestacao_continuada">Benefício de prestação continuada</option>
                                <option value="renda_basica">Renda Básica</option>
                                <option value="bolsa_escola">Bolsa escola</option>
                                <option value="bolsa_moradia">Bolsa moradia</option>
                                <option value="cesta_basica">Cesta básica</option>
                                <option value="valegas">Vale Gás</option>
                                <option value="nao">Não</option>
                                <option value="outro">Outro</option>
                                <option value="nao_info">Não informou</option>
                            </select>
                        </div>
                        <div class="form-group d-none">
                            <label for="qual_beneficio">
                                Qual benefício? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="qual_beneficio" name="qual_beneficio" type="text" value="">
                        </div>
                        <div class="form-group">
                            <label for="contribui_inss">
                                Contribui para a previdência social? <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="contribui_inss" name="contribui_inss" required="">
                                <option value="sim">Sim</option>
                                <option value="enq_trabalhava">Enquanto trabalhava</option>
                                <option value="nao">Não</option>
                                <option value="nao_info">Não informou</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qtd_pessoas_moradia">
                                Quantas pessoas moram com você? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" min="0" id="qtd_pessoas_moradia" name="qtd_pessoas_moradia"
                                required="" type="number" value="">
                        </div>
                        <div class="form-group">
                            <label for="renda_familiar">
                                Qual o valor da renda familiar? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="renda_familiar" name="renda_familiar" required=""
                                step="0.01" min="0" type="number" value="">
                        </div>
                        <div class="form-group">
                            <label for="participacao_renda">
                                Qual a sua posição em relação à renda familiar? <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="participacao_renda" name="participacao_renda" required="">
                                <option value="principal">Principal responsável</option>
                                <option value="contribuinte">Contribuinte</option>
                                <option value="dependente">Dependente</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipo_moradia">
                                A família reside em: <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="tipo_moradia" name="tipo_moradia" required="">
                                <option value="propria_quitada">Moradia Própria quitada</option>
                                <option value="propria_financiada">Moradia Própria financiada</option>
                                <option value="moradia_cedida">Moradia Cedida</option>
                                <option value="ocupada_irregular">Moradia Ocupada/Irregular</option>
                                <option value="em_construcao">Moradia Em construção</option>
                                <option value="alugada">Moradia Alugada</option>
                                <option value="parentes_amigos">Mora na casa de Parentes ou Amigos</option>
                                <option value="situacao_rua">Pessoa em Situação de Rua</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="possui_outros_imoveis">
                                A família possui outros imóveis? <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="possui_outros_imoveis" name="possui_outros_imoveis"
                                required="">
                                <option selected="" value="True">Sim</option>
                                <option selected="">Não</option>
                            </select>
                        </div>
                        <div class="form-group d-none" data-item="possui_outros_imoveis">
                            <label for="quantos_imoveis">
                                Quantos outros imóveis a família tem? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="quantos_imoveis" name="quantos_imoveis" type="number"
                                value="">
                        </div>
                        <div class="form-group">
                            <label for="possui_veiculos">
                                A família possui veículos? <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="possui_veiculos" name="possui_veiculos" required="">
                                <option selected="" value="True">Sim</option>
                                <option selected="">Não</option>
                            </select>
                        </div>
                        <!-- condicional veiculos -->

                        <div class="form-group d-none" data-item="possui_veiculos">
                            <label for="possui_veiculos_obs">
                                Qual é o veículo? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="possui_veiculos_obs" name="possui_veiculos_obs" type="text"
                                value="">
                        </div>

                        <div class="form-group d-none" data-item="possui_veiculos">
                            <label for="quantos_veiculos">
                                Quantos veículos? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="quantos_veiculos" name="quantos_veiculos" type="number"
                                value="" min="0">
                        </div>

                        <div class="form-group d-none" data-item="possui_veiculos">
                            <label for="ano_veiculo">
                                Qual o ano do veículo? <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="ano_veiculo" name="ano_veiculo" type="text" value="">
                        </div>

                        <!-- -------------------- -->
                        <div class="form-group">
                            <label for="doenca_grave_familia">
                                Há pessoas com doença grave na família? <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="doenca_grave_familia" name="doenca_grave_familia"
                                required="">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                                <option value="nao_inf">Não informou</option>
                            </select>
                        </div>
                        <!-- condicional doenca -->
                        <div class="form-group" data-item="doenca_grave_familia">
                            <label for="pessoa_doente">
                                Pessoa doente: <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" id="pessoa_doente" name="pessoa_doente">
                                <option value="propria_pessoa">Própria pessoa</option>
                                <option value="companheira_companheiro">Cônjuge ou Companheira(o)</option>
                                <option value="filhos">Filhos</option>
                                <option value="pais">Pais</option>
                                <option value="avos">Avós</option>
                                <option value="sogros">Sogros</option>
                                <option value="outros">Outros</option>
                            </select>
                        </div>
                        <div class="form-group d-none" data-item="doenca_grave_familia">
                            <label for="pessoa_doente_obs">
                                Outros: <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="pessoa_doente_obs" name="pessoa_doente_obs" type="text" value="">
                        </div>
                        <div class="form-group" data-item="doenca_grave_familia">
                            <label for="gastos_medicacao">
                                Valores gastos com medicação <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="gastos_medicacao" name="gastos_medicacao" step="0.01"
                                type="number" value="">
                        </div>
                        <!-- -------------------- -->
                        <div class="form-group">
                            <label for="obs">Observações adicionais</label>
                            <textarea class="form-control" id="obs" name="obs"></textarea>
                        </div>

                    </section>
                    <div class="d-flex justify-content-end align-items-center row-buttons">
                        <button class="btn btn-outline-primary " type="button">Voltar</button>
                        <button id="btnSubmit" type="submit" class="btn btn-primary">Tornar Assistido e Continuar</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
<div class="alert-container-modal justify-content-center align-items-center">
    <div class="alert-modal d-block">
        <div class="flow-atendido">
            <div class="modal-icons d-flex justify-content-center align-items-center">
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>
                <div class="arrow">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
                <div class="file">
                    <i class="fas fa-file-alt"></i>
                </div>
            </div>
            <div class="alert-modal-text">
                <p class="title">Atendido precisa ser Assistido</p>
                <p class="context">
                    Para converter em caso, o Atendido precisa ter o 
                    seu <span>questionário socioeconômico preenchido</span> e 
                    se tornar um Assistido
                </p>
            </div>
        </div>
        <div class="row-buttons">
            <button type="button" class="btn btn-outline-primary close-modal-alert">Voltar</button>
            <button type="button" class="btn btn-info modal-alert-form">Preencher Questionário</button>
        </div>
    </div>
</div>
<div class="confirm-container-modal justify-content-center align-items-center">
    <div class="confirm-modal d-block" style="max-width: 360px;">
        <div class="flow-atendido">
            <div class="confirm-modal-text">
                <p class="title" style="margin-bottom: 2rem;">Tem certeza que quer converter essa Orientação Jurídica em um Caso?</p>
            </div>
        </div>
        <div class="row-buttons">
            <button type="button" class="btn btn-outline-primary close-modal-confirm">Não</button>
            <button type="button" class="btn btn-info modal-confirm-form">Sim, converter</button>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/form_utils.js')}}"></script>
<script src="{{url_for('static',filename='js/orientacao.js')}}"></script>
<script defer>
    const btnFoward = document.querySelector("#buttonForward");
    btnFoward.addEventListener("click", () => {
        document.querySelector(".a-container-modal").classList.toggle("modal-active");
    })
    trataBotaoForm();

    //CHAMO A VALIDACAO
    validarCampoAreaDireito();

    //LINKO A VALIDACAO AO CAMPO bolsista
    document.getElementById('area_direito').onchange = function () { validarCampoAreaDireito() };
    document.getElementById('val-sub_area_admin').onchange = function () { validarCampoAreaDireito() };

    document.addEventListener("wheel", function (event) {
        if (document.activeElement.type === "number") {
            document.activeElement.blur();
        }
    });
</script>

<script defer>
    const tooltipValidate = () => {
        if(form.descricao.value === ""){
            $("#case").tooltip({
                animation: true,
                placement: "auto",
                trigger: "hover",
                delay: { "show": 200, "hide": 200 },
                title: "O campo de descrição precisa ser preenchido"
            }); 
        }
        if (!lista.selected || lista.selected.length > 1) {
            $("#case").tooltip({
                animation: true,
                placement: "auto",
                // trigger: "click",
                delay: { "show": 200, "hide": 200 },
                title: "Para converter em caso, você só pode ter adicionado apenas um atendido"
            });
        }
        $("#case").tooltip("show");
        setTimeout(() => $("#case").tooltip("dispose"), 2000)
    }
    document.querySelector(".c-modal .close").addEventListener("click", () => {
        document.querySelector(".navbar").classList.toggle("toBack");
        document.querySelector(".main-sidebar").classList.toggle("toBack");
        document.querySelector(".c-container-modal").classList.toggle("d-block");
    })


    const sendForm = async (form) => {
        let errors = {
            count: 0,
            fields: []
        }
        // Validação
        // Dados pessoais
        if (form.sexo.value === "") {
            errors.count++;
            errors.fields.push(form.sexo.id)
        }
        if (form.raca.value === "") {
            errors.count++;
            errors.fields.push(form.raca.id)
        }
        if (form.profissao.value === "") {
            errors.count++;
            errors.fields.push(form.profissao.id)
        }
        if (form.rg.value === "") {
            errors.count++;
            errors.fields.push(form.rg.id)
        }
        if (form.grau_instrucao.value === "") {
            errors.count++;
            errors.fields.push(form.grau_instrucao.id)
        }

        // Renda  e Patrimonio
        if (form.salario.value === "") {
            errors.count++;
            errors.fields.push(form.salario.id)
        }
        if (form.beneficio.value === "") {
            errors.count++;
            errors.fields.push(form.beneficio.id)
        }
        if (form.contribui_inss.value === "") {
            errors.count++;
            errors.fields.push(form.contribui_inss.id)
        }
        if (form.qtd_pessoas_moradia.value === "") {
            errors.count++;
            errors.fields.push(form.qtd_pessoas_moradia.id)
        }
        if (form.renda_familiar.value === "") {
            errors.count++;
            errors.fields.push(form.renda_familiar.id)
        }
        if (form.participacao_renda.value === "") {
            errors.count++;
            errors.fields.push(form.participacao_renda.id)
        }
        if (form.tipo_moradia.value === "") {
            errors.count++;
            errors.fields.push(form.tipo_moradia.id)
        }
        if (form.possui_outros_imoveis.value === "") {
            errors.count++;
            errors.fields.push(form.possui_outros_imoveis.id)
        }
        /** */
        if (form.possui_veiculos.value === "") {
            errors.count++;
            errors.fields.push(form.possui_veiculos.id)
        }
        /** */
        if (form.doenca_grave_familia.value === "") {
            errors.count++;
            errors.fields.push(form.doenca_grave_familia.id)
        }
        // ---
        if (form.possui_veiculos.value === "") {
            errors.count++;
            errors.fields.push(form.possui_veiculos.id)
        }

        if (errors.count > 0) {
            console.log("ERRORS", errors);
            return;
        }

        let data = await fetch("/atendido/tornar_assistido_modal/", {
            method: "POST",
            headers: {
                'X-CSRF-Token': "{{ csrf_token() }}"
            },
            body: JSON.stringify({
                action: "modal",
                id_atendido: lista.selected[0].id,
                sexo: form.sexo.value,
                raca: form.raca.value,
                profissao: form.profissao.value,
                rg: form.rg.value,
                grau_instrucao: form.grau_instrucao.value,
                salario: form.salario.value,
                beneficio: form.beneficio.value,
                qual_beneficio: form.qual_beneficio.value,
                contribui_inss: form.contribui_inss.value,
                qtd_pessoas_moradia: form.qtd_pessoas_moradia.value,
                renda_familiar: form.renda_familiar.value,
                participacao_renda: form.participacao_renda.value,
                tipo_moradia: form.tipo_moradia.value,
                possui_outros_imoveis: form.possui_outros_imoveis.value,
                possui_veiculos: form.possui_veiculos.value,
                doenca_grave_familia: form.doenca_grave_familia.value,
                possui_veiculos: form.possui_veiculos.value,
                possui_veiculos_obs: form.possui_veiculos_obs.value,
                quantos_veiculos: form.quantos_veiculos.value,
                ano_veiculo: form.ano_veiculo.value,
                pessoa_doente: form.pessoa_doente.value,
                pessoa_doente_obs: form.pessoa_doente_obs.value,
                gastos_medicacao: form.gastos_medicacao.value,
                quantos_imoveis: form.quantos_imoveis.value,
                obs: form.obs.value
            })
        })

        let res = await data.json();

        return res;
    }


    // converter em caso
    document.body.onload = () => {
        // tooltipValidate()
        const form = document.querySelector("#form");
        const btnCase = document.querySelector("#case");
        const imoveis = document.querySelector("#possui_outros_imoveis");
        const doenca = document.querySelector("#doenca_grave_familia");
        const veiculos = document.querySelector("#possui_veiculos");
        const formCase = document.querySelector("#orientacao_assistido");
        const btnSubmit = document.querySelector("#btnSubmit");

        btnCase.addEventListener("click", async() => {
            if (!lista.selected || lista.selected.length > 1 || form.descricao.value === "") {
                tooltipValidate()
                return;
            }
            let res = await fetch(`/plantao/verifica_assistido/${lista.selected[0].id}`)
            let data = await res.json();
            if(!data.assistido){
                document.querySelector(".navbar").classList.toggle("toBack");
                document.querySelector(".main-sidebar").classList.toggle("toBack");
                document.querySelector(".alert-container-modal").classList.toggle("d-flex")
            }
            else{
                document.querySelector(".navbar").classList.toggle("toBack");
                document.querySelector(".main-sidebar").classList.toggle("toBack");
                document.querySelector(".confirm-container-modal").classList.toggle("d-flex")
            }
        });

        document.querySelector(".close-modal-alert").onclick = (e) => {
            document.querySelector(".alert-container-modal").classList.toggle("d-flex");
        }
        document.querySelector(".close-modal-confirm").onclick = (e) => {
            document.querySelector(".confirm-container-modal").classList.toggle("d-flex");
        }
        document.querySelector(".modal-alert-form").onclick = (e) => {
            document.querySelector(".alert-container-modal").classList.toggle("d-flex");
            document.querySelector(".c-container-modal").classList.toggle("d-block");
            document.querySelector(".atendido > p").textContent = lista.selected[0].nome   
        }
        document.querySelector(".modal-confirm-form").onclick = (e) => {
            let form1 = document.querySelector("#form");
            let formData = {
                'area_direito-js': form1.area_direito.value,
                descricao: form1.descricao.value,
                id_atendido: lista.selected[0].id,
                nome_atendido: lista.selected[0].nome,
                'sub_area_admin-js': form1.sub_areaAdmin.value
            }
            if(form1.area_direito.value === "administrativo"){
                formData['sub_area_admin-js'] = form1.sub_areaAdmin.value;
            }
            if(form1.area_direito.value === "civel"){
                formData['sub_area_admin-js'] = form1.sub_area.value;
            }
            localStorage.setItem("case", JSON.stringify(formData)); 
            window.location.href = "/casos/novo_caso";
        }

        document.querySelector("#beneficio").onchange = (e) => {
            if(e.target.value === "outro"){
                document.querySelector("#qual_beneficio").parentElement.classList.remove('d-none')
            }
            else{
                document.querySelector("#qual_beneficio").parentElement.classList.add('d-none')
            }
        }
        imoveis.onchange = () => {
            let camposImoveis = document.querySelectorAll(`[data-item='${imoveis.id}']`);
            Array.from(camposImoveis).map(item => {
                item.classList.toggle("d-none");
            })
        }
        doenca.onchange = () => {
            let camposDoencas = document.querySelectorAll(`[data-item='${doenca.id}']`);
            Array.from(camposDoencas).map((item, index) => {
                doenca.value === "sim" ? item.style.display = "block" : item.style.display = "none";
            })
        }
        document.querySelector("#pessoa_doente").onchange = (e) => {
            if(e.target.value === "outros"){
                document.querySelector("#pessoa_doente_obs").parentElement.classList.remove('d-none')
            }
            else{
                document.querySelector("#pessoa_doente_obs").parentElement.classList.add('d-none')
            }
        }
        veiculos.onchange = () => {
            let camposVeiculos = document.querySelectorAll(`[data-item='${veiculos.id}']`);
            Array.from(camposVeiculos).map(item => {
                item.classList.toggle("d-none");
            })
        }
        formCase.addEventListener("submit", async (e) => {
            e.preventDefault();
            let response = await sendForm(formCase); 
            if(response.status === 'success'){
                let form1 = document.querySelector("#form");
                let formData = {
                    'area_direito-js': form1.area_direito.value,
                    descricao: form1.descricao.value,
                    id_atendido: lista.selected[0].id,
                    nome_atendido: lista.selected[0].nome,
                    'sub_area_admin-js': form1.sub_areaAdmin.value
                }
                if(form1.area_direito.value === "administrativo"){
                    formData['sub_area_admin-js'] = form1.sub_areaAdmin.value;
                }
                if(form1.area_direito.value === "civel"){
                    formData['sub_area_admin-js'] = form1.sub_area.value;
                }
                localStorage.setItem("case", JSON.stringify(formData)); 
                window.location.href = "/casos/novo_caso";
            }
        })
        document.querySelector("#orientacao_assistido .row-buttons .btn-outline-primary").onclick = () => {
            document.querySelector(".c-modal .close").click();   
        }
    }
</script>

<script src="{{ url_for('static', filename='js/modal_associar_atendido_multiple.js') }}"></script>

<style>
.modal-backdrop {
    z-index: 9998 !important;
}
.modal {
    z-index: 9999 !important;
    padding-left: 250px !important;
}
.modal-dialog {
    margin: 15vh auto 5vh auto !important;
    max-height: 80vh !important;
}
</style>
{%endblock%}
