{{ form.csrf_token }}
<style>
    #descricao {
        height: 100px;
    }

    .toBack {
        z-index: 1;
    }

    .s-container-modal,
    .a-container-modal,
    .c-container-modal,
    .alert-container-modal,
    .confirm-container-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden;
        z-index: 900;
    }

    .s-container-modal.modal-active,
    .a-container-modal.modal-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .s-modal,
    .a-modal {
        width: 60%;
        max-height: 80%;
        background-color: #fff;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 15%;
    }

    .a-modal {
        max-width: 424px;
        width: 100%;
        text-align: center;
    }

    .s-modal .close,
    .a-modal .close,
    .c-modal .close {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #F2F5F7;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
    }

    .a-modal h5 {
        font-size: 18px;
        line-height: 26px;
    }

    .a-modal .close {
        top: -2rem;
        right: -2rem;
    }

    .s-modal>div {
        background-color: #fff;
    }

    .s-modal-body {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .s-modal-body .search>div {
        padding: 6px 12px;
        display: flex;
        gap: 0.5rem;
        border: 1px solid #666;
    }

    .s-modal-body .search input {
        border: 0;
        width: 100%;
        outline: none;
    }

    .s-modal-body tbody input {
        width: 20px;
        height: 20px;
    }

    #checkall {
        width: 20px;
        height: 20px;
    }

    .s-modal-body tbody tr.row-active {
        background-color: #DBF2FF !important;
    }

    #atendidos p {
        font-weight: 600;
        color: #34395e;
        font-size: 14px;
        letter-spacing: .5px;
    }

    #lista-assistencias-judiciarias {
        position: relative;
        display: none;
    }

    #lista-assistencias-judiciarias ul {
        list-style: none;
        width: 100%;
        max-height: 200px;
        background-color: #fff;
        padding: 0;
        text-align: left;
        font-size: 14px;
        line-height: 19px;
        overflow-y: auto;
        border: 1px solid #dee2e6;
        border-top: 0;
        position: absolute;
        z-index: 1;

    }

    #lista-assistencias-judiciarias li {
        padding: 10px 20px;
        cursor: pointer;
    }

    .search-aj {
        display: none;
    }

    .c-modal {
        background-color: #fff;
        max-width: 540px;
        height: 100vh;
        overflow: hidden auto;
        margin-left: auto;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .c-modal .atendido {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        padding: 12px 20px;
        border: 1px solid #EAEEF0;
        border-radius: 4px;
        margin-bottom: 28px;
    }

    c.modal header h2 {
        color: #142129;
    }

    c.modal header p {
        color: #52646E;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.14px;
    }

    .c-modal p {
        margin-bottom: 0;
    }

    .c-modal .atendido+div>section {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .c-modal h2 {
        color: #3F5059;
        font-size: 1.5rem;
        line-height: 29px;
        letter-spacing: -0.24px;
    }

    .c-modal header h2 {
        color: #142129;
    }

    .c-modal .atendido+div>section:not(:last-child) {
        margin-bottom: 28px;
    }

    .c-modal .atendido>p,
    .c-modal .atendido>span i {
        color: #283A45;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.02px;
    }

    .c-modal .row-buttons {
        gap: 12px;
    }

    .alert-modal,
    .confirm-modal {
        max-width: 400px;
        width: 100%;
        padding: 2rem;
        background-color: #FFF;
    }

    .modal-icons {
        gap: 1rem;
    }

    .modal-icons .user,
    .modal-icons .file {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: #F2F5F7;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
    }

    .modal-icons .file {
        background-color: #DBF2FF;
    }

    .modal-icons .user i {
        color: #6F818C;
    }

    .modal-icons .file i {
        color: #38B4FD;
    }

    .modal-icons .user i,
    .modal-icons .file i,
    .modal-icons .arrow i {
        font-size: 2rem;
    }

    .flow-atendido {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }

    .alert-modal-text .title,
    .confirm-modal-text .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        color: #142129;
    }

    .alert-modal-text .context {
        font-size: 14px;
        line-height: 20px;
        color: #3F5059;
        font-weight: 400;
    }

    .alert-modal-text .context span {
        color: #0062B8;
        font-weight: 600;
    }

    .row-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
        align-self: stretch;
    }

    .row-buttons .btn {
        padding: 12px 20px;
    }

    .row-buttons>.btn:first-child {
        flex-grow: 1;
    }

    .lista-atendidos {
        overflow: hidden auto;
    }
</style>
<input type="hidden" id="assistencia_judiciaria" name="assistencia_judiciaria" value="">
<div class="form-group row" id="div_area_direito">
    <label class="col-lg-4 col-form-label" for="area_direito">{{form.area_direito.label}} <span
            class="text-danger">*</span>
    </label>
    <div class="col-lg-4">
        {{form.area_direito(class_="form-control")}}
    </div>
</div>

{% for error in form.area_direito.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}


<div class="form-group row" id="div_sub_area" hidden="true">
    <label class="col-lg-4 col-form-label" for="sub_area">{{form.sub_area.label}} <span class="text-danger">*</span>
    </label>
    <div class="col-lg-6">
        {{form.sub_area(class_="form-control")}}
    </div>
</div>

{% for error in form.sub_area.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row" id="div_sub_area_admin" hidden="true">
    <label class="col-lg-4 col-form-label" for="sub_area_admin">{{form.sub_areaAdmin.label}} <span
            class="text-danger">*</span>
    </label>
    <div class="col-lg-4">
        {{form.sub_areaAdmin(class_="form-control")}}
    </div>
</div>

{% for error in form.sub_areaAdmin.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row" id="div_descricao">
    <label class="col-lg-4 col-form-label" for="descricao">{{form.descricao.label}}
    </label>
    <div class="col-lg-4">
        {{form.descricao(type="textarea", class_="form-control", id="descricao")}}
    </div>
</div>

{% for error in form.descricao.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row" id="atendidos">
    <div class="col">
        <p>Atendidos</p>
        <div>
            <button type="button"
                class="btn btn-outline-primary btn-lg d-flex justify-content-center align-items-center"
                style="gap: 0.5rem" data-toggle="modal" data-target="#modalAssociarAtendidoMultiple">
                <span class="align-middle">Associar atendidos</span>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

{% include 'orientacao_juridica/components/modal_associar_atendido_multiple.html' %}
<div class="a-container-modal ">
    <div class="a-modal">
        <div class="s-modal-header position-relative">
            <h5>Deseja encaminhar essa orientação para outra <span class="text-primary">Assistência Jurídica?</span>
            </h5>
            <p>Selecione uma opção</p>
            <span class="close">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="s-modal-body text-center">
            {% if tipo_classe(form, "CadastroOrientacaoJuridicaForm") %}
            <div class="form-group row" id="div_encaminhar_outras_aj">
                <!-- <label class="col-lg-4 col-form-label" for="encaminhar_outras_aj">{{form.encaminhar_outras_aj.label}}</label> -->
                <div class="col">
                    {{form.encaminhar_outras_aj(type="text",class_="form-control")}}
                </div>
            </div>
            {% for error in form.encaminhar_outras_aj.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            {% endif %}
            <div class="col px-0 search-aj">
                <div class="border d-flex align-items-center border rounded-lg" style="padding:10px 12px;">
                    <label for="search-aj" class="m-0"><i class="fas fa-search"></i></label>
                    <input type="text" name="search" id="search-aj" class="border-0 col" style="outline: 0;"
                        placeholder="Encontrar assistência">

                </div>
                <div id="lista-assistencias-judiciarias">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="s-modal-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-lg btn-primary" id="button">Encaminhar e cadastrar</button>
        </div>
    </div>
</div>

<script defer>
    const lista = {}
    const atendidos = async () => {
        let data = await fetch("{{url_for('plantao.pegar_atendimentos')}}", {
            method: "GET",
            headers: {
                'X-CSRF-Token': "{{ csrf_token() }}",
                'Content-Type': 'application/json'
            },
        });
        let res = await data.json();
        lista.atendidos = res;
        return res;
    }
    const assistencia_judiciarias = async () => {
        let data = await fetch("{{url_for('assistencia_judiciaria.pega_assistencias_judiciarias')}}", {
            method: "GET",
            headers: {
                'X-CSRF-Token': "{{ csrf_token() }}"
            },
        });
        let res = await data.json();
        res.map(item => {
            document.querySelector("#lista-assistencias-judiciarias ul").insertAdjacentHTML("beforeend", `
                <li data-id="${item.id}">${item.nome}</li>
            `)
        })
        Array.from(document.querySelectorAll("#lista-assistencias-judiciarias li")).map(li => {
            li.onclick = () => {
                document.querySelector("#search-aj").value = li.textContent;
                document.querySelector("#assistencia_judiciaria").value = li.dataset.id;
                document.querySelector("#lista-assistencias-judiciarias").style.display = "none";
            }
        })
        // return res;
    }
    const atendidosSelecionados = () => {
        Array.from(document.querySelectorAll(".s-modal tbody input")).map(input => {
            input.addEventListener("click", () => {
                let tr = input.parentElement.parentElement;
                tr.classList.toggle("row-active")
                let checked = document.querySelectorAll("tbody input:checked").length;
                let btn = document.querySelector("#associados-checked");
                btn.disabled = checked > 0 ? false : true;
                btn.textContent = checked > 0 ? `Associar selecionados (${checked})` : "Associar selecionados";
            })
        })
    }
    document.querySelector("#encaminhar_outras_aj").addEventListener("change", (e) => {
        document.querySelector(".search-aj").style.display = e.target.value === "True" ? "block" : "none";
        if (e.target.value !== "True") document.querySelector("#assistencia_judiciaria").value = "";
    })
    document.querySelector("#search-aj").addEventListener("input", (e) => {
        let value = e.target.value
        if (value !== "") {
            document.querySelector("#lista-assistencias-judiciarias").style.display = "block";
            let listaAJ = document.querySelectorAll("#lista-assistencias-judiciarias li");
            Array.from(listaAJ).map(li => {
                li.style.display = !li.textContent.includes(value) ? "none" : "block";
            })
        }
        else {
            document.querySelector("#lista-assistencias-judiciarias").style.display = "none";
        }
    })
    assistencia_judiciarias();
</script>


