{% extends "base_dashboard.html" %}
{%block titulo%}
    {{ title }}
{%endblock%}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='temas_externos/select2.min.css')}}">
    <style>
    .select2-search--inline {
       display: contents; /*this will make the container disappear, making the child the one who sets the width of the element*/
    }
    .select2-search__field:placeholder-shown {
        width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
    }
    </style>

{% endblock css %}

{% block conteudo %}
    <div class="card">
    {% if caso %}

    <div class="card-header">
            <h4>Caso {{caso.id}}</h4>
            {% for cliente in caso.clientes %}
                <h4>{{ cliente.nome }}</h4>
            {% endfor %}
    </div>

    {% endif %}
        <div class="card-body">
            <form class="form" action="" method="POST" id="form" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <input type="hidden" id="apiCasosBuscarAtendido" value="{{url_for('casos.api_casos_buscar_assistido', _external=True)}}">
                <input type="hidden" id="apiCasosBuscarUsuario" value="{{url_for('casos.api_casos_buscar_usuario', _external=True)}}">
                <input type="hidden" id="apiCasosBuscarRoteiro" value="{{url_for('casos.api_casos_buscar_roteiro', _external=True)}}">
                <input type="hidden" id="apiCasosBuscarOrientador" value="{{url_for('casos.api_casos_buscar_orientador', _external=True)}}">
                <input type="hidden" id="apiCasosBuscarEstagiario" value="{{url_for('casos.api_casos_buscar_estagiario', _external=True)}}">
                <input type="hidden" id="apiCasosBuscarColaborador" value="{{url_for('casos.api_casos_buscar_colaborador', _external=True)}}">

            {% if form.errors %}
                {% for field, error in form.errors.items() %}
                        <div class="alert alert-danger" role="alert">
                                                    {{ ', '.join(error) }}
                        </div>
                {% endfor %}
            {% endif %}

            {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0], usuario_urole_roles["COLAB_EXTERNO"][0]] %}
                <div class="form-group row" id="div_area">
                    {{form.area_direito.label(class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                    <div class="col-12 col-lg-6 offset-lg-1">
                        {{form.area_direito(id="area_direito-js",class_='form-control')}}
                    </div>
                </div>

                <div class="form-group row" id="div_sub_area" hidden="true">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="sub_area">{{form.sub_area.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        {{form.sub_area(id="sub_area-js", class_="form-control")}}
                    </div>
                </div>

                {% for error in form.sub_area.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_sub_area_admin" hidden="true">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="sub_area_admin">{{form.sub_areaAdmin.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        {{form.sub_areaAdmin(id="sub_area_admin-js",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.sub_areaAdmin.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            {% endif %}

            {% if caso %}
                {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles["COLAB_EXTERNO"][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] and caso.situacao_deferimento == 'indeferido'%}
                    <div class="form-group row">
                        {{form.situacao_deferimento_indeferido.label(class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                        <div class="col-12 col-lg-6 offset-lg-1">
                            {{form.situacao_deferimento_indeferido(class_='form-control')}}
                        </div>
                    </div>
                {% endif %}

                {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles["COLAB_EXTERNO"][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}
                    {% if caso.situacao_deferimento == 'ativo' %}
                        <div class="form-group row">
                            {{form.situacao_deferimento_ativo.label(class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                            <div class="col-12 col-lg-6 offset-lg-1">
                                {{form.situacao_deferimento_ativo(class_='form-control')}}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles["COLAB_EXTERNO"][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}
                <div class="form-group row">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="orientador-js">Orientador</label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <select class="form-control" id="orientador-js" name="orientador-js"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="estagiario-js">Estagiário</label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <select class="form-control" id="estagiario-js" name="estagiario-js"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="colaborador-js">Colaborador Externo</label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <select class="form-control" id="colaborador-js" name="colaborador-js"></select>
                    </div>
                </div>
            {% endif %}

            {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0], usuario_urole_roles["COLAB_EXTERNO"][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] and not caso %}

                <div class="form-group row">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="clientes-js">Assistidos<span class="text-danger">*</span></label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <select class="form-control" id="clientes-js" name="clientes-js"></select>
                    </div>
                </div>
            {% endif %}

            {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0], usuario_urole_roles["COLAB_EXTERNO"][0]] %}
                <div class="form-group row">
                    <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="descricao">Descrição<span class="text-danger">*</span></label>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        {{form.descricao(class="w-100", rows="10", placeholder="Insira aqui o link de acesso para o roteiro que foi preenchido. Para os casos que não possuem roteiro, insira aqui o detalhamento do caso.")}}
                    </div>
                </div>
            {% endif %}
            {% if arquivos %}
            <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <div class="d-flex ml-auto">
                      <h4>Arquivos</h4>
                    </div>
                  </div>
                  <div class="container table-responsive">
                      <table class="table table-striped">
                        <style>
                            th {
                                text-align: center;
                            }
                            td{
                                text-align: center;
                            }
                        </style>
                          <thead>
                            
                              <tr>
                                  <th style="width:60%">Título do Arquivo</th>
                                  <th>Ações</th>
                              </tr>
                          </thead>
                          <tbody>
                          {% for arquivo in arquivos %}
                          <tr>
                              <td>{{arquivo.link_arquivo}}</td>
                              <td >
                                  <div class="row" style="justify-content: center;">
                               
                                    <a class="btn mr-1 btn-flat btn-info" href="{{url_for('static', filename='casos/'+arquivo.link_arquivo)}}">Vizualizar</a>
                                    {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['COLAB_PROJETO'][0], usuario_urole_roles['COLAB_EXTERNO'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ORIENTADOR'][0]]%}
                                    <a href="{{url_for('casos.editar_arquivo_caso',id_arquivo=arquivo.id, id_caso=caso.id)}}" class="btn mr-1 btn-flat btn-primary">Editar</a>
                                    {% endif %}
                            
                                      {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['PROFESSOR'][0]] %}
                                      <a href="{{url_for('casos.excluir_arquivo_caso', id_arquivo=arquivo.id, id_caso=caso.id)}}" class="btn mr-1 btn-flat btn-danger">Excluir</a>
                                      {% endif %}
                                  </div>
                              </td>
                          </tr>
                          {% endfor %}
                          </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {% endif %}
                 <div class="row mb-5">
                    <div class="col col-lg-6 offset-lg-1">
                        <h5>Adicionar novo arquivo</h5>
                        <div class="row">
                            <div class="col-6 align-self-end">
                                <label for="arquivo">Upload de arquivo <span class="text-danger">(.pdf)(Máx: 10MB)</span></label>
                                <input type="file" name="arquivo" class="form-control-file overflow-hidden">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-6 offset-lg-1">
                        {{form.submit(class_='btn btn-flat btn-primary')}}
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">

        </div>
    </div>
    {% endblock %}

{% block scripts %}
    <script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/subarea_caso.js')}}"></script>
    <script>
        validarCampoAreaDireito();
        document.getElementById("area_direito-js").onchange = function() {validarCampoAreaDireito()};
        document.getElementById("sub_area-js").onchange = function() {validarCampoAreaDireito()};
        document.getElementById("sub_area_admin-js").onchange = function() {validarCampoAreaDireito()};
    </script>

    <script>
        $(document).ready(function(){

            trocaLinkRoteiro();

            let placeholder_orientador = 'Pesquisar orientadores';
            let placeholder_estagiario = 'Pesquisar estagiários';
            let placeholder_colaborador = 'Pesquisar colaboradores';

            {% if caso %}
                {% if caso.orientador.nome %}
                    placeholder_orientador =  '{{ caso.orientador.nome }}'
                {% endif %}
                {% if caso.estagiario.nome %}
                    placeholder_estagiario =  '{{ caso.estagiario.nome }}'
                {% endif %}
                {% if caso.colaborador.nome %}
                    placeholder_colaborador =  '{{ caso.colaborador.nome }}'
                {% endif %}
            {% endif %}



    $('#orientador-js').select2({
        ajax: {
            url: $('#apiCasosBuscarOrientador').val(),
            dataType: 'json',
        },
        delay: 500,
        placeholder: placeholder_orientador,
        width: '100%'
    });

    $('#orientador-js').on('change', function(){
        $('#orientador').val($('#orientador-js').val());
    });

    $('#estagiario-js').select2({
        ajax: {
            url: $('#apiCasosBuscarEstagiario').val(),
            dataType: 'json',
        },
        delay: 500,
        placeholder: placeholder_estagiario,
        width: '100%'
    })

    $('#estagiario-js').on('change', function(){
        $('#estagiario').val($('#estagiario-js').val());
    });

    $('#colaborador-js').select2({
        ajax: {
            url: $('#apiCasosBuscarColaborador').val(),
            dataType: 'json',
        },
        delay: 500,
        placeholder: placeholder_colaborador,
        width: '100%'
    })

    $('#colaborador-js').on('change', function(){
        $('#colaborador').val($('#colaborador-js').val());
    });


    $('#clientes-js').select2({
        ajax: {
            url: $('#apiCasosBuscarAtendido').val(),
            dataType: 'json',
        },
        multiple: true,
        delay: 500,
        placeholder: 'Pesquisar assistido ',
        width: '100%',

    });

    $('#clientes-js').css('width', '100%');


    $('#clientes-js').on('change', function(){
        $('#clientes').val($('#clientes-js').val().join(','));
    });


    $('#area_direito-js').on('change',function(){
        trocaLinkRoteiro();
    });

    function trocaLinkRoteiro(){
        $.ajax({
            url: $('#apiCasosBuscarRoteiro').val(),
            data:{termo: $('#area_direito-js').val()}
          }).done(function(data) {
              if (data.link){
                $('#link-roteiro').attr('href', data.link);
                $('#link-roteiro').removeClass('disabled');
              }else{
                $('#link-roteiro').addClass('disabled');
              }
          });
    }
})
    </script>
{% endblock scripts %}