{% extends "base_dashboard.html" %}
{%block titulo%}Editar Lembrete{%endblock%}
{% block css %} 
<link rel="stylesheet" href="{{url_for('static',filename='temas_externos/select2.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/novo_caso.css')}}">
{% endblock css %}
{% block conteudo %}
<div class="card">
    <div class="card-body">
        <form class="form" action="" method="POST" id="form" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <input type="hidden" id="apiCasosBuscarUsuario" value="{{url_for('casos.api_casos_buscar_usuario', _external=True)}}">
            <input type="hidden" id="apiCasosBuscarCasos" value="{{url_for('casos.api_casos_buscar_casos', _external=True)}}">

            {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['COLAB_EXTERNO'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}           
            <div class="form-group row">
                <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="usuario-js">Usuarios a serem notificados<span class="text-danger">*</span></label>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <select class="form-control" id="usuario-js" name="usuario-js"></select>
                </div>
            </div>
            {% endif %}
            {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['COLAB_EXTERNO'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}           
            <div class="form-group row">
                <label class="col-12 col-lg-6 offset-lg-1 col-form-label" for="lembrete">Lembrete<span class="text-danger">*</span></label>
                <div class="col-12 col-lg-6 offset-lg-1">
                    {{form.lembrete(class="w-100", rows="10", placeholder="Insira aqui o texto do seu lembrete.")}} 
                </div>
            </div>
            {% endif %}

            {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['COLAB_EXTERNO'][0], usuario_urole_roles['ORIENTADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}
            <div class="col-12 col-lg-6 offset-lg-1">
                {{form.data.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.data(type="date", class_="form-control")}}
                {% for error in form.data.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
            {% endif %}
            <input class="btn btn-flat btn-primary" type="submit" value="Salvar" style="font-weight: normal;">
        </form>
    </div>
    <div class="card-footer">
        
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
    <script>
    
    $(document).ready(function(){
    
    $('#usuario-js').select2({
        ajax: {
            url: $('#apiCasosBuscarUsuario').val(),
            dataType: 'json',
        },
        delay: 500,
        placeholder: '{{usuario}}',
        width: '100%'
    })

    $('#usuario-js').on('change', function(){
        $('#usuarios').val($('#usuario-js').val());
    });

})
    </script>
{% endblock scripts %}