{% extends "base/painel_principal.html" %}
{%block titulo%}Editar Processo #{{id_processo}}{%endblock%}
{% block conteudo %}
<div class="card">
    <div class="card-body">
        <form class="form" action="" method="POST" id="form" enctype="multipart/form-data" onsubmit="tranformaFloat()">
          {{ form.csrf_token }}
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="especie">{{form.especie.label}}</label>
                <div class="col-lg-6">
                    {{form.especie(class_='form-control')}}
                </div>
            </div>

            {% for error in form.especie.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="numero">{{form.numero.label}}</label>
                <div class="col-lg-6">
                    {{form.numero(class_='form-control')}}
                </div>
            </div>

            {% for error in form.numero.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="identificacao">{{form.identificacao.label}}</label>
                <div class="col-lg-6">
                    {{form.identificacao(class_='form-control')}}
                </div>
            </div>

            {% for error in form.identificacao.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="vara">{{form.vara.label}}</label>
                <div class="col-lg-6">
                    {{form.vara(class_='form-control')}}
                </div>
            </div>

            {% for error in form.vara.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
        
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="link">{{form.link.label}}</label>
                <div class="col-lg-6">
                    {{form.link(class_='form-control')}}
                </div>
            </div>

            {% for error in form.link.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="probabilidade">{{form.probabilidade.label}}</label>
                <div class="col-lg-6">
                    {{form.probabilidade(class_='form-control')}}
                </div>
            </div>

            {% for error in form.probabilidade.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="posicao_assistido">{{form.posicao_assistido.label}}</label>
                <div class="col-lg-6">
                    {{form.posicao_assistido(class_='form-control')}}
                </div>
            </div>

            {% for error in form.posicao_assistido.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="valor_causa">{{form.valor_causa.label}}</label>
                <div class="col-lg-6">
                    {{form.valor_causa(class_='form-control', onKeyPress="return(moeda(this,'.',',',event))", id="form_valor_causa")}}
                </div>
            </div>

            {% for error in form.valor_causa.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="data_distribuicao">{{form.data_distribuicao.label}}</label>
                <div class="col-lg-6">
                    {{form.data_distribuicao(type="date", class_='form-control')}}
                </div>
            </div>

            {% for error in form.data_distribuicao.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

           <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="data_transito_em_julgado">{{form.data_transito_em_julgado.label}}</label>
                <div class="col-lg-6">
                    {{form.data_transito_em_julgado(type="date", class_='form-control')}}
                </div>
            </div>

            {% for error in form.data_transito_em_julgado.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="obs">{{form.obs.label}}</label>
                <div class="col-lg-6">
                    {{form.obs(class_='form-control')}}
                </div>
            </div>

            {% for error in form.obs.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            {{form.save_button(class_='btn btn-flat btn-primary')}}

        </form>
    </div>
    <div class="card-footer">
        
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const valor = document.getElementById("form_valor_causa")
        valor.value = "R$ " + valor.value
    })
    function moeda(self, e, r, event) {
        let n = "",
            h = j = 0,
            u = tamanho2 = 0,
            l = ajd2 = "",
            o = window.Event ? event.which : event.keyCode
            self.value = self.value.replace('R$ ','')       
        if (n = String.fromCharCode(o), -1 == "0123456789".indexOf(n)){
            return !1
        }
        for(u = self.value.replace('R$ ','').length,
        h = 0; h < u && ("0" == self.value.charAt(h) || self.value.charAt(h) == r); h++)
            ;
        for (l = ""; h < u; h++){
            -1 != "0123456789".indexOf(self.value.charAt(h)) && (l += self.value.charAt(h))
        }
        if (l += n, 0 == (u = l.length) && (self.value = ""),
        1 == u && (self.value = "R$ 0" + r + "0" + l),
        2 == u && (self.value = "R$ 0" + r + l),
        u > 2) {
            for(ajd2 = "", j = 0, h = u - 3; h >= 0; h--){
                3 == j && (ajd2 += e,
                j = 0),
                ajd2 += l.charAt(h),
                j++
            }
            for(self.value = "R$ ", tamanho2 = ajd2.length, h = tamanho2 - 1; h >= 0; h--){
                self.value += ajd2.charAt(h)
            }
            self.value += r + l.substr(u - 2, u)
        }
        return !1
    }
    function tranformaFloat(){
        const valorDaCausa =  document.getElementById("form_valor_causa")
        let valorDaCausaString = valorDaCausa.value
        if(valorDaCausaString.indexOf("R$ ") != -1){
            valorDaCausaString = valorDaCausaString.split('.').join('')
        }
        valorDaCausaString = valorDaCausaString.replace('R$ ', '')
        valorDaCausaString = valorDaCausaString.replace(',', '.')
        if(valorDaCausa.value){
            valorDaCausa.value = parseFloat(valorDaCausaString)
        }else{
            valorDaCausa.value = ""
        }
    }
</script> 
{% endblock %}