{% extends "base/painel_principal.html" %}
{% block titulo %}Processo #{{processo.id}}{%endblock %}
{% block conteudo %}
      <div class="row" >
        <div class="col-12 ">
          <div class="card">
            <div class="card-header">
              <h4>Dados do Processo:</h4>
              <button type="submit" class="ml-auto btn mr-1 btn-flat btn-primary btn-sm" name="button">
                <a href="{{url_for('casos.editar_processo', id_processo=processo.id)}}" style="text-decoration: none;color: white;">Editar</a>
              </button>
              <form action="{{url_for('casos.excluir_processo', id_processo = processo.id, id_caso = id_caso)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <button type="submit" class="btn ml-1 btn-flat btn-danger btn-sm"
                  onclick="return confirm('Você deseja realmente excluir este processo?');">Excluir</button>
              </form>
            </div>
            <div class="card-body">
              <style type="text/css">
                span.float-right{
                  word-wrap: break-word !important;
                  width: 50%;
                }
              </style>
              <p class="clearfix">
                <span class="float-left">
                  Espécie:
                </span>
                <span class="float-right text-muted">
                  {{processo.especie}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Número:
                </span>
                <span class="float-right text-muted">
                  {{processo.numero}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Identificação:
                </span>
                <span class="float-right text-muted">
                  {{processo.identificacao}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Vara, Unidade Jurisdicional, Turma e/ou Câmara:
                </span>
                <span class="float-right text-muted">
                  {{processo.vara}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Link:
                </span>
                <span class="float-right text-muted ">
                  {{processo.link}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Probabilidade de Ganho:
                </span>
                <span class="float-right text-muted">
                  {{processo.probabilidade}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Posição do Assistido:
                </span>
                <span class="float-right text-muted">
                  {{processo.posicao_assistido}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Valor da Causa (Inicial):
                </span>
                <span class="float-right text-muted">
                  R$ {{processo.valor_causa_inicial}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Valor da Causa Atualizado:
                </span>
                <span class="float-right text-muted">
                R$ {{processo.valor_causa_atual}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Data da distribuição:
                </span>
                <span class="float-right text-muted">
                  {{processo.data_distribuicao.strftime("%d/%m/%Y")}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Data do Transito em Julgado:
                </span>
                <span class="float-right text-muted">
                  {{processo.data_transito_em_julgado.strftime("%d/%m/%Y") or "--"}} 
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                    Observações:
                </span>
                <span class="float-right text-muted">
                  {{processo.obs}}
                </span>
              </p>
              
              
            </div>
          </div>
        </div>
    {% endblock %}
  </div>
</div>
