{% extends "base_dashboard.html" %}

{% block titulo %}Arquivos{% endblock %}

{% block conteudo %}
<nav class="d-inline-block">
  <ul class="pagination mb-0">
    {% for page_num in arquivos.iter_pages(left_edge=3, right_edge=3, left_current=2, right_current=2) %}
    {% if page_num and arquivos.page == page_num%}
    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
    {% elif page_num %}
    <li class="page-item"><a class="page-link"
        href="{{ url_for('arquivos.index', page=page_num) }}">{{ page_num }}</a>
      {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="d-flex ml-auto">
        {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.COLAB_PROJETO.value, UserRole.COLAB_EXTERNO.value, UserRole.PROFESSOR.value] %}
        <div class="d-flex flex-row p-2">
          <a href="{{url_for('arquivos.cadastrar_arquivo')}}" class="btn btn-primary ml-auto py-1">Adicionar Arquivo</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="container table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:60%">Título do Arquivo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for arquivo in arquivos.items %}
            <tr>
                <td>{{arquivo.titulo}}</td>
                <td>
                    <div class="row">
                        <a href="{{url_for('arquivos.visualizar_arquivo', id=arquivo.id)}}" class="btn ml-2 mr-2 btn-flat btn-primary">Visualizar</a>
                        {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.COLAB_PROJETO.value, UserRole.COLAB_EXTERNO.value, UserRole.PROFESSOR.value] %}
                        <a href="{{url_for('arquivos.editar_arquivo', id=arquivo.id)}}" class="btn mr-1 btn-flat btn-primary">Editar</a>
                        {% endif %}
                        <a href="{{url_for('arquivos.excluir_arquivo', id=arquivo.id)}}" class="btn mr-1 btn-flat btn-danger">Excluir</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}