{% from "base/base_form.html" import form_field, form_section, form_field_split %}

{{ form.csrf_token }}

<input type="hidden" id="apiCasosBuscarAtendido" value="{{url_for('api.casos_buscar_assistido', _external=True)}}">
<input type="hidden" id="apiCasosBuscarUsuario" value="{{url_for('api.casos_buscar_usuario', _external=True)}}">
<input type="hidden" id="apiCasosBuscarOrientador" value="{{url_for('api.casos_buscar_orientador', _external=True)}}">
<input type="hidden" id="apiCasosBuscarEstagiario" value="{{url_for('api.casos_buscar_estagiario', _external=True)}}">
<input type="hidden" id="apiCasosBuscarColaborador" value="{{url_for('api.casos_buscar_colaborador', _external=True)}}">

{% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.ORIENTADOR.value, UserRole.ESTAGIARIO_DIREITO.value, UserRole.COLAB_EXTERNO.value] %}
    {{ form_section("Área do Direito") }}
    
    {{ form_field(form.area_direito, field_id="div_area", required=true) }}
    
    <div class="form-field hidden-field" id="div_sub_area">
        {{ form_field(form.sub_area, field_id="sub_area-js", required=true) }}
    </div>

    <div class="form-field hidden-field" id="div_sub_area_admin">
        {{ form_field(form.sub_areaAdmin, field_id="sub_area_admin-js", required=true) }}
    </div>
{% endif %}

{% if caso %}
    {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.COLAB_EXTERNO.value, UserRole.ESTAGIARIO_DIREITO.value] and caso.situacao_deferimento == 'indeferido'%}
        {{ form_section("Status do Caso") }}
        {{ form_field(form.situacao_deferimento_indeferido) }}
    {% endif %}

    {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.ORIENTADOR.value, UserRole.COLAB_EXTERNO.value, UserRole.ESTAGIARIO_DIREITO.value] %}
        {% if caso.situacao_deferimento == 'ativo' %}
            {{ form_section("Status do Caso") }}
            {{ form_field(form.situacao_deferimento_ativo) }}
        {% endif %}
    {% endif %}
{% endif %}

{% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.ORIENTADOR.value, UserRole.COLAB_EXTERNO.value, UserRole.ESTAGIARIO_DIREITO.value] %}
    {{ form_section("Equipe Responsável") }}
    
    <div class="form-field">
        <div class="field-row">
            <label for="orientador-js">Orientador</label>
            <div class="field-input">
                <select id="orientador-js" name="orientador-js"></select>
                <input type="hidden" id="orientador" name="orientador" value="{{ form.orientador.data or '' }}">
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="field-row">
            <label for="estagiario-js">Estagiário</label>
            <div class="field-input">
                <select id="estagiario-js" name="estagiario-js"></select>
                <input type="hidden" id="estagiario" name="estagiario" value="{{ form.estagiario.data or '' }}">
            </div>
        </div>
    </div>

    <div class="form-field">
        <div class="field-row">
            <label for="colaborador-js">Colaborador Externo</label>
            <div class="field-input">
                <select id="colaborador-js" name="colaborador-js"></select>
                <input type="hidden" id="colaborador" name="colaborador" value="{{ form.colaborador.data or '' }}">
            </div>
        </div>
    </div>
{% endif %}

{% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.ORIENTADOR.value, UserRole.ESTAGIARIO_DIREITO.value, UserRole.COLAB_EXTERNO.value, UserRole.ESTAGIARIO_DIREITO.value] and not caso %}
    {{ form_section("Assistidos") }}
    
    <div class="form-field">
        <div class="field-row">
            <label for="clientes-js">Assistidos <span class="required">*</span></label>
            <div class="field-input">
                <select id="clientes-js" name="clientes-js" multiple></select>
                <input type="hidden" id="clientes" name="clientes" value="{{ form.clientes.data or '' }}">
            </div>
        </div>
    </div>
{% endif %}

{% if caso and caso.clientes %}
    {{ form_section("Assistidos Atuais") }}
    
    <div class="form-field">
        <div class="field-row">
            <label>Assistidos vinculados ao caso:</label>
            <div class="field-input">
                <ul class="list-group">
                    {% for cliente in caso.clientes %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ cliente.nome }}
                        <span class="badge badge-primary badge-pill">{{ cliente.id }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.ORIENTADOR.value, UserRole.ESTAGIARIO_DIREITO.value, UserRole.COLAB_EXTERNO.value] %}
    {{ form_section("Descrição do Caso") }}
    
    <div class="form-field">
        <div class="field-row">
            <label for="descricao">Descrição <span class="required">*</span></label>
            <div class="field-input">
                {{ form.descricao(rows="10", placeholder="Insira aqui o link de acesso para o roteiro que foi preenchido. Para os casos que não possuem roteiro, insira aqui o detalhamento do caso.") }}
            </div>
        </div>
    </div>
{% endif %}
