{% extends "base_dashboard.html" %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='imgs_daj/GL_icon.png')}}" />
</head>

{% block conteudo %}
<body>
    <div class="table-responsive" style="width:99%">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="5" class="d-none">
                        
                        <h2>
                            {% block titulo %}Relatório de Horários <a class="btn btn-primary" href="{{url_for('relatorios.index')}}"><i class="fas fa-undo-alt"></i></a>{% endblock titulo %}
                        </h2>
                    </th>
                </tr>
                <tr class="table-active">
                    <th colspan="5">
                        <h4>{{datas[0]}} - {{datas[1]}}</h4>
                    </th>
                </tr>
                <tr class="table-active">
                    <th scope="col">Data</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Horário de Entrada</th>
                    <th scope="col">Horário de Saída</th>
                    <th scope="col">Status</th>
                    <th scope="col">Plantão</th>
                </tr>
            </thead>
            <tbody>
                {% for horario in horarios %}
                <tr>
                    <td>{{horario.data_saida.date()}}</td>
                    <td>{{horario.usuario.nome}}</td>
                    <td>{{horario.data_entrada.time()}}</td>
                    <td>{{horario.data_saida.time()}}</td>
                    <td>{{horario.confirmacao}}</td>
                    <td>Não</td>
                </tr>
                {% endfor %}
                {% for horario in horarios_plantao %}
                <tr>
                    <td>{{horario.data_marcada}}</td>
                    <td>{{horario.usuario.nome}}</td>
                    <td>--</td>
                    <td>--</td>
                    <td>{{horario.confirmacao}}</td>
                    <td>Sim</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        <h6>Emitido em: {{data_emissao}}</h6>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h6>Emitido por: {{usuario}}</h6>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
  <button class='btn btn-flat btn-primary'>Baixar Relatório</button>
</body>
{% endblock conteudo %}

{% block scripts %}
<script>
  function download_csv(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV FILE
      csvFile = new Blob(["\ufeff", csv], {type: "text/csv"});

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // We have to create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Make sure that the link is not displayed
      downloadLink.style.display = "none";

      // Add the link to your DOM
      document.body.appendChild(downloadLink);

      // Lanzamos
      downloadLink.click();
  }

  function export_table_to_csv(html, filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
      for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");
      
          for (var j = 0; j < cols.length; j++) 
              row.push(cols[j].innerText);
          
      csv.push(row.join(";"));    
    }

      // Download CSV
      download_csv(csv.join("\n"), filename);
  }

  document.querySelector("button").addEventListener("click", function () {
      var html = document.querySelector("table").outerHTML;
    export_table_to_csv(html, "table.csv");
  });
</script>
{% endblock scripts %}