{% extends "base_dashboard.html" %}
{%block titulo%}Cadastro de Orientação Jurídica{%endblock%}
{% block conteudo %}

{% block css %}
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button{
        -webkit-appearence:none!important;
        margin:0!important;
    }
    input[type=number] {
    -moz-appearance:textfield;
    }

</style>
{% endblock %}

<div class="card pessoa" id = "pessoa">
    <div class="card-body">
        <div class="form-group row" ><h3>Dados da Orientação Jurídica</h3></div>
        <div style="height: 30px;"></div>
        <div class= "form-validation">
            <form class="form-valide" action="#" method="POST" id="form">
                {{ form.csrf_token }}

                <div class="form-group row" id="div_area_direito">
                    <label class="col-lg-4 col-form-label" for="area_direito">{{form.area_direito.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form.area_direito(class_="form-control")}}
                    </div>
                </div>

                {% for error in form.area_direito.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}


                <div class="form-group row" id="div_sub_area" hidden = "true">
                    <label class="col-lg-4 col-form-label" for="val-sub_area">{{form.sub_area.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form.sub_area(class_="form-control")}}
                    </div>
                </div>

                {% for error in form.sub_areaAdmin.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_sub_area_admin" hidden = "true">
                    <label class="col-lg-4 col-form-label" for="val-sub_area_admin">{{form.sub_areaAdmin.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form.sub_areaAdmin(class_="form-control")}}
                    </div>
                </div>

                {% for error in form.sub_areaAdmin.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_descricao">
                    <label class="col-lg-4 col-form-label" for="val-descricao">{{form.descricao.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.descricao(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.descricao.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}


                <button type="submit" class="btn btn-primary" id="button">Cadastrar</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/orientacao.js')}}"></script>
<script>
    //trataBotaoForm();

    //CHAMO A VALIDACAO
    validarCampoAreaDireito();
    
    //LINKO A VALIDACAO AO CAMPO bolsista
    document.getElementById('area_direito').onchange = function() {validarCampoAreaDireito()};
    document.getElementById('val-sub_area_admin').onchange = function() {validarCampoAreaDireito()};

    document.addEventListener("wheel", function(event){
        if(document.activeElement.type === "number"){
        document.activeElement.blur();
     }
    });
</script>
{%endblock%}
