{% extends "base_form.html" %}
{%block titulo%}Cadastro de Assistência Judiciária{%endblock%}

{% block css %}
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button{
        -webkit-appearence:none!important;
        margin:0!important;
    }
    input[type=number] {
    -moz-appearance:textfield;
    }
    
</style>
<!-- jQuery select2 -->
<link rel="stylesheet" href="{{url_for('static', filename='temas_externos/select2.min.css')}}">
{% endblock %}

{% block conteudo %}

<div class="card pessoa" id = "pessoa">
    <div class="card-body">
        <div class="form-group row" ><h4>Dados da Assistência Judiciária</h4></div>
        <div class= "form-validation">
            <form class="form-valide" action="#" method="POST" id="form">

                {% include "assistencia_judiciaria_form.html" %}

                {{form.submit(class_="btn btn-primary")}}
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- jQuery select2 -->
<script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
<script>

    $(document).ready(() => {
        $('#areas_atendidas').select2({});
    });
</script>

{% endblock scripts %}
