{% extends "base_dashboard.html" %}
{%block titulo%}Cadastro de Assistência Judiciária{%endblock%}
{% block conteudo %}

{% block css %}
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button{
        -webkit-appearence:none!important;
        margin:0!important;
    }
    input[type=number] {
    -moz-appearance:textfield;
    }

</style>
{% endblock %}

<div class="card pessoa" id = "pessoa">
    <div class="card-body">
        <div class="form-group row" ><h4>Dados da Assistência Judiciária</h4></div>
        <div style="height: 30px;"></div>
        <div class= "form-validation">
            <form class="form-valide" action="#" method="POST" id="form">
                {{ form.csrf_token }}

                <div class="form-group row" id="div_areas_direito">
                    <label class="col-lg-4 col-form-label" for="area_areas_direito">{{form.areas_direito.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form.areas_direito(class_="form-control")}}
                    </div>
                </div>

                {% for error in form.areas_direito.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_telefone">
                    <label class="col-lg-4 col-form-label" for="val-telefone">{{form.telefone.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.telefone(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.telefone.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_email">
                    <label class="col-lg-4 col-form-label" for="val-email">{{form.email.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.email(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.email.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" ><h4>Endereço</h4></div>

                <div class="form-group row" id="div_logradouro" hidden = "true">
                    <label class="col-lg-4 col-form-label" for="val-logradouro">{{form.logradouro.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form.logradouro(class_="form-control")}}
                    </div>
                </div>

                {% for error in form.logradouro.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_numero" hidden = "true">
                    <label class="col-lg-4 col-form-label" for="val-sub_numero">{{form.numero.label}} <span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form.numero(class_="form-control")}}
                    </div>
                </div>

                {% for error in form.numero.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_complemento">
                    <label class="col-lg-4 col-form-label" for="val-complemento">{{form.complemento.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.complemento(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.complemento.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_bairro">
                    <label class="col-lg-4 col-form-label" for="val-bairro">{{form.bairro.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.bairro(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.bairro.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_cep">
                    <label class="col-lg-4 col-form-label" for="val-cep">{{form.cep.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.cep(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.cep.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_regiao">
                    <label class="col-lg-4 col-form-label" for="val-regiao">{{form.regiao.label}}
                    </label>
                    <div class="col-lg-6">
                        {{form.regiao(type="text",class_="form-control")}}
                    </div>
                </div>

                {% for error in form.regiao.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                


                <button type="submit" class="btn btn-primary" id="button">Cadastrar</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{%endblock%}
