{% extends 'base_dashboard.html' %}
{% block titulo %}Ficha de atendimento - {{form.nome.data|upper}}{% endblock %}

{% macro form_label(field, offset=True) %}
        {% if offset %}
            {{ field.label(class_='col-12 col-md-6 offset-md-4 col-form-label')|safe}}
        {% else %}
            {{ field.label(class_='col-12 col-form-label')|safe}}
        {% endif %}
{% endmacro %}

{% block conteudo %}
<div class="card pessoa" id="pessoa">
    <div class="card-body">
        <div class="form-validation">
            <form class="form-valide">

                <div class="form-group row justify-content-between align-items-center">
                    <h3>Dados de atendimento</h3>
                    {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0], usuario_urole_roles['COLAB_PROJETO'][0]] %}
                        <a href="{{url_for('plantao.editar_atendido',id_atendido=form.id_atendido)}}" class="btn btn-primary btn-lg">Editar dados</a>
                    {% endif %}
                </div>

                <div class="form-group row">
                    {{ form_label(form.data_nascimento)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.data_nascimento(type="date", class_="form-control") }}
                    </div>
                </div>

                <div class="form-group row" id="div_cpf">
                    {{ form_label(form.cpf)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.cpf(type="text" , class_="form-control") }}
                    </div>
                </div>

                <div class="row">
                    <div class="align-self-end col-12 col-md-3 offset-md-4">
                        <div class="row form-group">
                            {{form_label(form.telefone, offset=False)}}
                            <div class="col">
                                {{form.telefone(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="align-self-end col-12 col-md-3">
                        <div class="row form-group">
                            {{form_label(form.celular, offset=False)}}
                            <div class="col">
                                {{form.celular(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.email)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.email(type="text", class_="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.estado_civil)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.estado_civil(class_="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.area_juridica)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.area_juridica(type="text", class_="form-control") }}
                    </div>
                </div>

                <div class="row">
                    <div class="align-self-end col-12 col-md-3 offset-md-4">
                        <div class="row form-group">
                            {{form_label(form.como_conheceu, offset=False)}}
                            <div class="col">
                                {{form.como_conheceu(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="align-self-end col-12 col-md-3">
                        <div class="row form-group">
                            {{form_label(form.indicacao_orgao, offset=False)}}
                            <div class="col">
                                {{form.indicacao_orgao(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="align-self-end col-12 col-md-3 offset-md-4">
                        <div class="row form-group">
                            {{form_label(form.procurou_outro_local, offset=False)}}
                            <div class="col">
                                {{form.procurou_outro_local(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="align-self-end col-12 col-md-3">
                        <div class="row form-group">
                            {{form_label(form.procurou_qual_local, offset=False)}}
                            <div class="col">
                                {{form.procurou_qual_local(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.obs)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.obs(type="textarea", class_="form-control") }}
                    </div>
                </div>

                <div class="row">
                    <div class="align-self-end col-12 col-md-3 offset-md-4">
                        <div class="row form-group">
                            {{form_label(form.pj_constituida, offset=False)}}
                            <div class="col">
                                {{form.pj_constituida(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="align-self-end col-12 col-md-3">
                        <div class="row form-group">
                            {{form_label(form.cnpj, offset=False)}}
                            <div class="col">
                                {{form.cnpj(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------Atendido é representante legal?------------------->
                <div class="form-group row" id="div_repres_legal">
                    {{ form_label(form.repres_legal)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.repres_legal(class_="form-control") }}
                    </div>
                </div>

                <div class="form-group row" id="div_nome_repres_legal">
                    {{ form_label(form.nome_repres_legal)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.nome_repres_legal(class_="form-control") }}
                    </div>
                </div>

                <div class="row">
                    <div class="align-self-end col-12 col-md-3 offset-md-4">
                        <div class="row form-group">
                            {{form_label(form.cpf_repres_legal, offset=False)}}
                            <div class="col">
                                {{form.cpf_repres_legal(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="align-self-end col-12 col-md-3">
                        <div class="row form-group">
                            {{form_label(form.contato_repres_legal, offset=False)}}
                            <div class="col">
                                {{form.contato_repres_legal(type="text", class_="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" id="div_pretende_constituir_pj">
                    {{ form_label(form.pretende_constituir_pj)}}
                    <div class="col-12 col-md-6 offset-md-4">
                        {{ form.pretende_constituir_pj(class_="form-control") }}
                    </div>
                </div>

        </div>

        <!--------------------------------------------------------------------------------------ENDERECO------------------------------------------------------------------------------>
        <div class="form-group row">
            <h3>Endereço</h3>
        </div>

        <div class="form-group row">
            {{ form_label(form.logradouro)}}
            <div class="col-12 col-md-6 offset-md-4">
                {{form.logradouro(type="text",class_="form-control")}}
            </div>
        </div>

        <div class="row">
            <div class="align-self-end col-12 col-md-3 offset-md-4">
                <div class="row form-group">
                    {{form_label(form.complemento, offset=False)}}
                    <div class="col">
                        {{form.complemento(type="text", class_="form-control")}}
                    </div>
                </div>
            </div>
            <div class="align-self-end col-12 col-md-3">
                <div class="row form-group">
                    {{form_label(form.numero, offset=False)}}
                    <div class="col">
                        {{form.numero(type="text", class_="form-control")}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="align-self-end col-12 col-md-3 offset-md-4">
                <div class="row form-group">
                    {{form_label(form.bairro, offset=False)}}
                    <div class="col">
                        {{form.bairro(type="text", class_="form-control")}}
                    </div>
                </div>
            </div>
            <div class="align-self-end col-12 col-md-3">
                <div class="row form-group">
                    {{form_label(form.cep, offset=False)}}
                    <div class="col">
                        {{form.cep(type="text", class_="form-control")}}
                    </div>
                </div>
            </div>
        </div>

        </form>
    </div>
</div>
</div>
{% endblock %}