{% extends "base_form.html" %}
{% block titulo %} Edição de Assistência Judiciária {% endblock titulo %}

{% block css %}

<!-- jQuery select2 -->
<link rel="stylesheet" href="{{url_for('static', filename='temas_externos/select2.min.css')}}">

{% endblock css %}

{% block conteudo %}

<div class="card pessoa" id = "pessoa">
    <div class="card-body">
        <div class="row justify-content-between">
            
            
        </div>

        <div class= "form-validation">
            <form class="form-valide" action="#" method="POST" id="form">

                {% include "assistencia_judiciaria_form.html" %}

                <button type="submit" class="btn btn-primary" id="button">Atualizar</button>
            </form>

        </div>
    </div>
</div>

{% endblock conteudo %}

{% block scripts %}
{{ super() }}
<!-- jQuery select2 -->
<script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
<script>

    $(document).ready(() => {
        $('#areas_atendidas').select2({});
    });
</script>

{% endblock scripts %}
