{% extends "base_dashboard.html" %} {% block titulo %}Assistências Judiciárias{%
endblock %} {% block conteudo %} {% if assistencias %}
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="d-flex flex-row">
        <div class="d-flex justify-content-start">
          <div id="table-2_filter" class="dataTables_filter">
            <label
              >Buscar
              <input
                type="text"
                id="busca"
                class="form-control form-control-sm"
                aria-controls="table-2"
            /></label>
          </div>
        </div>
        
        <div class="d-flex ml-auto">
          <div class="d-flex flex-row p-2">
            <select class="form-control" id="filtro" name="filtro">
              <option value="{{filtro_busca_assistencia_judiciaria['TODAS'][0]}}">{{filtro_busca_assistencia_judiciaria['TODAS'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['ADMINISTRATIVO'][0]}}">{{filtro_busca_assistencia_judiciaria['ADMINISTRATIVO'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['AMBIENTAL'][0]}}">{{filtro_busca_assistencia_judiciaria['AMBIENTAL'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['CIVEL'][0]}}">{{filtro_busca_assistencia_judiciaria['CIVEL'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['CONSUMIDOR'][0]}}">{{filtro_busca_assistencia_judiciaria['CONSUMIDOR'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['CONTRATOS'][0]}}">{{filtro_busca_assistencia_judiciaria['CONTRATOS'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['EMPRESARIAL'][0]}}">{{filtro_busca_assistencia_judiciaria['EMPRESARIAL'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['FAMILIA'][0]}}">{{filtro_busca_assistencia_judiciaria['FAMILIA'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['PENAL'][0]}}">{{filtro_busca_assistencia_judiciaria['PENAL'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['PREVIDENCIARIO'][0]}}">{{filtro_busca_assistencia_judiciaria['PREVIDENCIARIO'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['REAIS'][0]}}">{{filtro_busca_assistencia_judiciaria['REAIS'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['RESPONSABILIDADE_CIVIL'][0]}}">{{filtro_busca_assistencia_judiciaria['RESPONSABILIDADE_CIVIL'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['SUCESSOES'][0]}}">{{filtro_busca_assistencia_judiciaria['SUCESSOES'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['TRABALHISTA'][0]}}">{{filtro_busca_assistencia_judiciaria['TRABALHISTA'][1]}}</option>
              <option value="{{filtro_busca_assistencia_judiciaria['TRIBUTARIO'][0]}}">{{filtro_busca_assistencia_judiciaria['TRIBUTARIO'][1]}}</option>
            </select>
          </div>
        </div>
        
        {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0],
        usuario_urole_roles['COLAB_EXTERNO'][0],
        usuario_urole_roles['COLAB_PROJETO'][0],
        usuario_urole_roles['PROFESSOR'][0]] %}
          <div class="d-flex flex-row p-2">
            <a
              href="{{url_for('plantao.nova_assistencia_judiciaria')}}"
              class="btn btn-primary ml-auto p-2 mr-2"
              >Cadastrar Assistência Judiciária</a
            >
          </div>
        {% endif %}

      </div>
    </div>

    <div id="tbl_assistencias_judiciarias">
      {% include "busca_assistencia_judiciaria.html" %}
    </div>
    

  </div>
</div>
{% else %}
<div class="row">
  <h3>Nenhuma assistência judiciária no momento.</h3>
  <a
    href="{{url_for('plantao.nova_assistencia_judiciaria')}}"
    class="btn btn-primary ml-auto p-2"
    >Cadastrar nova assistência judiciária</a
  >
</div>
{% endif %} {% endblock %} {% block scripts %}
<script>
  function ajax_tbl_assistencia_judiciaria(page){
    $.ajax({
        method: "GET",
        url: "{{url_for('plantao.busca_assistencia_judiciaria')}}",
        data: {
          busca: $('#busca').val(),
          opcao_filtro: $('#filtro').val(),
          page: page
        },
        success: (response) => {
          document.getElementById('tbl_assistencias_judiciarias').innerHTML = '';
          $('#tbl_assistencias_judiciarias').append(response);
        },
      });
  }

  $("#busca").on({
    keyup: () => {
      ajax_tbl_assistencia_judiciaria(1)
    },
  });

  $("#filtro").change(function(){
    $("#busca").keyup()
  })
</script>
{% endblock scripts %}
