{% extends 'base_dashboard.html' %}
{% block titulo %} Perfil {{assistido.Atendido.nome.capitalize()}} {% endblock titulo %}

{% block conteudo %}

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4>Dados de Atendimento</h4>
            </div>
            <div class="card-body">
                <div class="py-2">
                    <p class="clearfix">
                        <span class="float-left">
                            Nome:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.nome}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Data de nascimento:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.data_nascimento}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            CPF:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.cpf or '--'}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            CNPJ:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.cnpj or '--'}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Celular:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.celular}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            E-mail:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.email}}
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
{% if assistido.Assistido.id != Null %}
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4>Dados de Assistido</h4>
            </div>
            <div class="card-body">
                <div class="py-2">
                    <p class="clearfix">
                        <span class="float-left">
                            Sexo:
                        </span>
                        <span class="float-right text-muted">
                            {% for key in sexo_usuario %}
                                {% if sexo_usuario[key][0] == assistido.Assistido.sexo %}
                                    {{sexo_usuario[key][1]}}
                                {% endif %}
                            {% endfor %}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Profissão:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Assistido.profissao}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Raça:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Assistido.raca}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            RG:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Assistido.rg or '--'}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Grau de Instrução:
                        </span>
                        <span class="float-right text-muted">
                            {% for key in escolaridade %}
                                {% if escolaridade[key][0] == assistido.Assistido.grau_instrucao %}
                                    {{escolaridade[key][1]}}
                                {% endif %}
                            {% endfor %}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Salário:
                        </span>
                        <span class="float-right text-muted">
                            {{"R$ " + formata_float(assistido.Assistido.salario)}}
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if assistido.AssistidoPessoaJuridica.id != Null %}
<div class="row">
    <div class="col-md-6 col-xs-12">
    <div class="card">
        <div class="card-header">
            <h4>Dados de Assistido Pessoa Jurídica</h4>
        </div>
        <div class="card-body">
            <div class="py-2">

                <p class="clearfix">
                    <span class="float-left">
                        Situação Receita:
                    </span>
                    <span class="float-right text-muted">
                        {{assistido.AssistidoPessoaJuridica.situacao_receita or '--'}}
                    </span>
                </p>

                <p class="clearfix">
                    <span class="float-left">
                        Enquadramento:
                    </span>
                    <span class="float-right text-muted">
                        {% for key in enquadramento %}
                            {% if enquadramento[key][0] == assistido.AssistidoPessoaJuridica.enquadramento %}
                                {{enquadramento[key][1]}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>

                <p class="clearfix">
                    <span class="float-left">
                        Area de Atuação:
                    </span>
                    <span class="float-right text-muted">
                        {% for key in area_atuacao %}
                            {% if area_atuacao[key][0] == assistido.AssistidoPessoaJuridica.area_atuacao %}
                                {{area_atuacao[key][1]}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>

                <p class="clearfix">
                    <span class="float-left">
                        Órgão de Registro:
                    </span>
                    <span class="float-right text-muted">
                        {% for key in orgao_reg %}
                            {% if orgao_reg[key][0] == assistido.AssistidoPessoaJuridica.orgao_registro %}
                                {{orgao_reg[key][1]}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>

                <p class="clearfix">
                    <span class="float-left">
                        Faturamento Anual:
                    </span>
                    <span class="float-right text-muted">
                        {{"R$ " + formata_float(assistido.AssistidoPessoaJuridica.faturamento_anual)}}
                    </span>
                </p>

            </div>
        </div>
    </div>
    </div>
{% endif %}
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4>Endereço</h4>
            </div>
            <div class="card-body">
                <div class="py-2">
                    <p class="clearfix">
                        <span class="float-left">
                            Logradouro:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.endereco.logradouro}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Número:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.endereco.numero}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Complemento:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.endereco.complemento or '--'}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Bairro:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.endereco.bairro}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            CEP:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.endereco.cep}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Cidade:
                        </span>
                        <span class="float-right text-muted">
                            {{assistido.Atendido.endereco.cidade}}, {{assistido.Atendido.endereco.estado}}
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}