{% extends "base_dashboard.html" %}
{% block titulo %}Assistência Judiciária{% endblock titulo %}
{% block conteudo %}

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4>Dados da Assistência Judiciária</h4>
            </div>
            <div class="card-body">
                <div class="py-2">
                    <p class="clearfix">
                        <span class="float-left">
                            Nome:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.AssistenciaJudiciaria.nome.capitalize()}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Área(s) do Direito:
                        </span>
                        <span class="float-right text-muted">
                            {% set vars = {'espaco': False} %}
                            {% for key in assistencia_jud_areas_atendidas %}
                            {% if assistencia_jud_areas_atendidas[key][0] in aj.AssistenciaJudiciaria.areas_atendidas %}
                                {% if not vars.espaco %}
                                    <span>{{assistencia_jud_areas_atendidas[key][1]}}</span>
                                    {% if vars.update({'espaco': True}) %}{% endif %}
                                {% else %}
                                <br><span>{{assistencia_jud_areas_atendidas[key][1]}}</span>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Região:
                        </span>
                        <span class="float-right text-muted">
                            {% for key in assistencia_jud_regioes %}
                                {% if assistencia_jud_regioes[key][0] == aj.AssistenciaJudiciaria.regiao %}
                                    {{assistencia_jud_regioes[key][1]}}
                                {% endif %}
                            {% endfor %}
                        </span>
                    </p>


                    <p class="clearfix">
                        <span class="float-left">
                            Telefone:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.AssistenciaJudiciaria.telefone}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            E-mail:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.AssistenciaJudiciaria.email}}
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4>Endereço</h4>
            </div>
            <div class="card-body">
                <div class="py-2">

                    <p class="clearfix">
                        <span class="float-left">
                            Logradouro:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.logradouro.capitalize()}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Número:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.numero}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Complemento:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.complemento}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Bairro:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.bairro.capitalize()}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            CEP:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.cep}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Cidade:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.cidade.capitalize()}}
                        </span>
                    </p>

                    <p class="clearfix">
                        <span class="float-left">
                            Estado:
                        </span>
                        <span class="float-right text-muted">
                            {{aj.Endereco.estado.capitalize()}}
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock conteudo %}