<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title id="titulo">{%block titulo%}{% endblock %} - Gestão Legal</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/css/app.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/bundles/izitoast/css/iziToast.min.css')}}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/css/components.css')}}">
    <!-- Custom style CSS -->
    <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='imgs_daj/gestao_legal_home.png')}}" /> {%block css%}{%endblock%}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;       
        }
        ::-moz-placeholder { /* Firefox 19+ */
        color: white;
        }
        :-ms-input-placeholder { /* IE 10+ */
        color: white;
        }
        :-moz-placeholder { /* Firefox 18- */
        color: white;
        }

        .dropdown-menu li{
            line-height: 1rem !important;
        }
        </style>
</head>

<body class="theme-blue blue-sidebar" style="font-family: 'Montserrat', sans-serif ">
    {%block modal %}{% endblock %}
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1" >
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3 d-lg-flex align-items-center">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"><i
                                    class="fas fa-bars"></i></a></li>
                        <li>
                            <form action="{{url_for('principal.busca_geral')}}" id="form_busca_geral" method="POST">
                                <div class="search-group">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="text" id="busca_geral" name="busca_geral" class="form-control rounded" placeholder="Usuários, Assistidos ou Casos" aria-label="search" aria-describedby="search" style="width: 250px;">
                                    <span class="nav-link nav-link-lg align-self-center" id="search" onclick="document.getElementById('form_busca_geral').submit()">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>

                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i class="fas fa-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('notificacoes.index')}}" class="nav-link nav-link-lg"><i class="far fa-envelope"></i></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <i class="far fa-user"></i>
                            <span class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">{{current_user.nome|upper or 'Default'}}</div>
                            <a href="{{url_for('usuario.meu_perfil')}}" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Meu Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            {% if (current_user.is_authenticated): %}
                            <a href="{{url_for('usuario.logout')}}" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Fazer Logout
                            </a>
                            {% else: %}
                            <a href="{{url_for('usuario.login')}}" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Fazer Login
                            </a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="{{url_for('principal.index')}}">
                             <img alt="image" src="{{url_for('static', filename='imgs_daj/GL_icon.png')}}"
                                class="header-logo" >
                            <span class="logo-name" style="font-family: 'Montserrat', sans-serif;">Gestão Legal</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu" style="font-family: 'Montserrat', sans-serif;">
                        <li>
                            <a href="{{url_for('usuario.listar_usuarios')}}" class="nav-link"><i class="fas fa-user"></i><span>Gestão de
                                    Usuários</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i
                                    class="fas fa-globe"></i><span>Plantão</span></a>
                            <ul class="dropdown-menu" style="display: none;">
                                <li><a href="{{url_for('plantao.pg_plantao')}}">Página do Plantão</a></li>
                                <li><a href="{{url_for('plantao.reg_presenca')}}">Registro de Presença</a></li>
                                {% if current_user.urole in [ usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['COLAB_PROJETO'][0] ] %}
                                <li><a href="{{url_for('plantao.confirmar_presenca')}}">Confirmar Presença</a></li>
                                {% endif %}
                               
                                <li><a href="{{url_for('plantao.listar_atendidos')}}">Atendidos e Assistidos</a></li>
                                <li><a href="{{url_for('plantao.orientacoes_juridicas')}}">Orientações Jurídicas</a></li>
                                <li><a href="{{url_for('plantao.listar_assistencias_judiciarias')}}">Assistências Judiciárias</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-briefcase"></i><span>Casos</span></a>

                            <ul class="dropdown-menu" style="display: none;">
                                {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['ESTAGIARIO_DIREITO'][0]] %}
                                    <li><a href="{{url_for('casos.novo_caso')}}">Cadastrar Novo Caso</a></li>
                                {% endif %}
                                {% if current_user.urole == usuario_urole_roles['COLAB_PROJETO'][0] %}
                                <li><a href="{{url_for('casos.meus_casos')}}">Meus Casos</a></li>
                                {% endif %}
                                <li><a href="{{url_for('casos.index')}}">Gestão de Casos</a></li>
                                {% if current_user.urole in [ usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['COLAB_EXTERNO'][0] ] %}
                                <li><a href="{{url_for('casos.editar_roteiro')}}">Gerenciar Roteiros</a></li>
                                {% endif %}
                               
                            </ul>
                        </li>
                        <li>
                            <a href="{{url_for('notificacoes.index')}}" class="nav-link"><i class="fas fa-bell"></i><span>Notificações</span></a>
                        </li>
                        <li>
                            <a href="{{url_for('relatorios.index')}}" class="nav-link"><i class="fas fa-chart-bar"></i><span>Relatórios</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-file-alt"></i><span>Arquivos</span></a>
                            <ul class="dropdown-menu" style="display: none;">
                                <li><a href="{{url_for('arquivos.index')}}">Ver Arquivos</a></li>
                                {% if current_user.urole in [ usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0], usuario_urole_roles['COLAB_EXTERNO'][0] ] %}
                                <li><a href="{{url_for('arquivos.cadastrar_arquivo')}}">Cadastrar Arquivo</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>{{self.titulo()}}</h1>
                    </div>
                    <div class="section-body">
                        <div class="container-fluid">
                            <!-- Notificações do sistema(flashes) -->
                            <div id="flashes" class="d-none">
                                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                                <div data-category="{{category}}" class="flash-message">{{message}}</div>
                                {% endfor %} {% endif %} {% endwith %}
                            </div>
                            {%block conteudo %}{% endblock %}
                        </div>
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2020
                    <div class="bullet"></div> Criado por <a href="http://www.ijunior.com.br">iJunior</a>
                </div>
                <div class="footer-right">
                     <a href="{{url_for('principal.termos')}}">Termos de uso</a>
                </div>
                
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="{{url_for('static', filename= 'app_tema/assets/js/app.min.js')}}"></script>
    <!-- JS Libraies -->
    <script src="{{url_for('static', filename= 'app_tema/assets/bundles/izitoast/js/iziToast.min.js')}}"></script>
    <!-- Page Specific JS File -->
    <script src="{{url_for('static',filename='js/base-utils.js')}}"></script>
    <!-- Template JS File -->
    <script src="{{url_for('static',filename='app_tema/assets/js/scripts.js')}}"></script>

    <!-- Scripts customizados por página -->
    {%block scripts%} {% endblock %}

</body>

</html>