{% extends "base/painel_principal.html" %} {%block titulo%}Gerenciar Roteiros{%endblock%}

{% block conteudo %}
<div class="card">
    <div class="card-body">
        <form class="form" action="" method="POST" id="form" enctype="multipart/form-data">
            {{form.csrf_token()}}
            <div class="form-group row m-2">
                <h5>Adicionar/Editar links de roteiro</h5>
            </div>

            <div class="form-group row">
                <label class="col-12 col-lg-6 offset-lg-1 col-form-label">{{form.area_direito.label.text}}<span class="text-danger">*</span></label>
                <div class="col-12 col-lg-6 offset-lg-1">
                    {{form.area_direito(class_='form-control')}}
                </div>
                {% for error in form.area_direito.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>

            <div class="form-group row">
                {{form.link.label(class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
                <div class="col-12 col-lg-6 offset-lg-1">
                    {{form.link(class_='form-control', placeholder='deixe em branco para remover o link previamente cadastrado', pattern='https?://.+')}}
                </div>
                {% for error in form.link.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group row">
                <div class="col-12 col-lg-6 offset-lg-1">
                    {{form.submit(class_='btn btn-primary')}}
                </div>
            </div>
        </form>
        <div class="form-group row">
            <div class="table-responsive mt-4 mx-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Área do direito</th>
                            <th>Link para o roteiro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for roteiro in roteiros %}
                            <tr>
                                <td>{% for key in assistencia_jud_areas_atendidas %}
                                        {% if assistencia_jud_areas_atendidas[key][0] in roteiro.area_direito %}
                                            <span>{{assistencia_jud_areas_atendidas[key][1]}}</span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="{{roteiro.link}}" target="_blank">{{roteiro.link}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}