{% extends "base/painel_principal.html" %}
{% block titulo %}Caso #{{caso.id}}{%endblock %}
{%block modal %}

            <div class="modal-overlay modal-hidden" 
                 id="modalExemplo" 
                 role="dialog" 
                 aria-modal="true" 
                 aria-labelledby="modalExemplo_title"
                 aria-describedby="modalExemplo_body">
                <div class="modal-content modal-md" tabindex="-1">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modalExemplo_title">Processos</h2>
                        <button type="button" class="modal-close" onclick="ModalManager.close('modalExemplo')" aria-label="Fechar modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalExemplo_body">
                        <table class="table table-striped">
                            <tbody>
                                {% for processo in processos %}
                                <tr class="text-center">
                                    <td>
                                        <a href="{{url_for('casos.visualizar_processo', id_processo = processo.id, id_caso = caso.id)}}">
                                            {{processo.numero}}<br>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

{% endblock %}
{% block conteudo %}
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Ações:</h4>
                        <div class="card-header-action">
                         <a href="{{url_for('casos.novo_processo', id_caso=caso.id)}}"><button class="btn btn-primary mr-1">Associar Processo</button></a> 
                         <a href="{{url_for('casos.cadastrar_lembrete', id_do_caso=caso.id)}}"><button  class="btn btn-primary mr-1">Criar Lembrete</button></a>
                         <a href="{{url_for('casos.novo_evento', id_caso=caso.id)}}"><button  class="btn btn-primary mr-1">Criar Evento</button></a>
                         {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.ESTAGIARIO_DIREITO.value, UserRole.PROFESSOR.value, UserRole.ORIENTADOR.value, UserRole.COLAB_EXTERNO.value] %}
                         <a href="{{url_for('casos.editar_caso',id_caso = caso.id)}}"><button class="btn btn-primary">Editar</button></a>
                         {% elif current_user.urole in [UserRole.ADMINISTRADOR.value] %}
                            <form action="{{url_for('casos.excluir_caso', id_caso = caso.id, rota_paginacao = rota_paginacao)}}" method="POST">
                                <input type="hidden" name="csrf_token" id="csrf_token{{caso.id}}" value="{{ csrf_token() }}">
                                <button class="btn ml-1 btn-flat btn-danger mr-2" onclick="return confirm('Você deseja excluir este caso?');">
                                    Excluir
                                </button>
                            </form>
                         {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Dados do Caso:</h4>
            </div>
            <div class="card-body">
              <p class="clearfix">
                <span class="float-left">
                  Área do Direito:
                </span>
                <span class="float-right text-muted">
                  {% for key in assistencia_jud_areas_atendidas %}
                    {% if assistencia_jud_areas_atendidas[key][0] == caso.area_direito %}
                      {{assistencia_jud_areas_atendidas[key][1]}}
                    {% endif %}
                  {% endfor %}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Usuário responsável:
                </span>
                <span class="float-right text-muted">
                  {{caso.usuario_responsavel.nome or '--'}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Orientador responsável:
                </span>
                <span class="float-right text-muted">
                  {{caso.orientador.nome or '--'}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Estagiário de direito responsável:
                </span>
                <span class="float-right text-muted">
                  {{caso.estagiario.nome or '--'}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Colaborador externo responsável:
                </span>
                <span class="float-right text-muted">
                  {{caso.colaborador.nome or '--'}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Processos judiciais vinculados:
                </span>
                <span class="float-right text-muted">
                  <a href="#" onclick="ModalManager.open('modalExemplo'); return false;">Ver Processos</a>
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Histórico:
                </span>
                <span class="float-right text-muted">
                  <a class="" href="{{url_for('casos.historico', id_caso=caso.id)}}">Ver histórico</a>
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Eventos:
                </span>
                <span class="float-right text-muted">
                  <a class="" href="{{url_for('casos.eventos', id_caso=caso.id)}}">Ver eventos</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Descrição:</h4>
            </div>
            <div class="card-body">
              <p>
                {{caso.descricao}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          {% if caso.clientes %}
          <div class="card">
            <div class="card-header">
              <h4>Assistidos:</h4>
            </div>
            <div class="card-body">
              {% for atendido in caso.clientes %}
              <div class="card card-primary">
                <div class="card-body">
                  <h4 style="font-weight: normal; font-size: 10pt;">{{atendido.nome or ' ---'}}</h4>
                  <h4 style="font-weight: normal; font-size: 10pt;">CPF: {{atendido.cpf or ' ---'}}</h4>
                  <h4 style="font-weight: normal; font-size: 10pt;">CNPJ: {{atendido.cnpj or ' ---'}}</h4>
                  <div class="card-body-action">
                    <a
                      href="{{url_for('atendido.perfil_assistido', _id=atendido.id)}}"
                      class="btn btn-primary"
                      >Visualizar</a
                    >
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Questionário sócioeconômico e arquivos relacionados:</h4>
            </div>
            <div class="card-body">
              <div class="card card-primary">
                {% if arquivos %}
                  {% for arquivo in arquivos %}
                    <div class="card-header">
                      <h4 style="font-weight: normal">
                        {{arquivo.link_arquivo}}
                      </h4>
                      <div class="card-header-action">
                        <a href="{{url_for('static', filename='casos/{}'.format(arquivo.link_arquivo) )}}" class="btn btn-primary {{'disabled' if not arquivo else None}}" target="_blank">Download</a>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="card-header">
                    <h4 style="font-weight: normal">
                      Nenhum arquivo cadastrado
                    </h4>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          {% if lembrete %}
          <div class="card">
            <div class="card-header">
              <h4>Último Lembrete:</h4>
            </div>
            <div class="card-body">
              <p class="clearfix">
                <span class="float-left">
                Descrição:
                </span>
                <div class="descricao text-muted text-right ">{{lembrete.descricao}}</div>
              </p>
              <p class="clearfix">
                <span class="float-left">
                Usuário notificado:
                </span>
                <span class="float-right text-muted">
                {{lembrete.usuario.nome}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                Data de criação:
                </span>
                <span class="float-right text-muted">
                {{lembrete.data_criacao.strftime('%d/%m/%Y')}}
                </span>
              </p>
              <p class="clearfix">
                  <span class="float-left">
                  Data de notificação:
                  </span>
                  <span class="float-right text-muted">
                  {{lembrete.data_lembrete.strftime('%d/%m/%Y')}}
                  </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  <a class="" href="{{url_for('casos.lembretes', id_caso=caso.id)}}">Ver todos os lembretes</a>
                </span>
              </p>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-lg-6">
          {% if evento %}
          <div class="card">
            <div class="card-header">
              <h4>Último Evento:</h4>
            </div>
            <div class="card-body">
              <p class="clearfix">
                <span class="float-left">
                Descrição:
                </span>
                <div class="descricao text-muted text-right ">{{evento.descricao}}</div>
              </p>
              <p class="clearfix">
                <span class="float-left">
                Tipo:
                </span>
                <span class="float-right text-muted">
                {{formatarTipoDeEvento(evento.tipo)}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                Data de criação:
                </span>
                <span class="float-right text-muted">
                {{evento.data_criacao.strftime('%d/%m/%Y')}}
                </span>
              </p>
              <p class="clearfix">
                  <span class="float-left">
                  Data do evento:
                  </span>
                  <span class="float-right text-muted">
                  {{evento.data_evento.strftime('%d/%m/%Y')}}
                  </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  <a class="" href="{{url_for('casos.eventos', id_caso=caso.id)}}">Ver todos os eventos</a>
                </span>
              </p>
            </div>
          </div>
          {% endif %}
        </div>
        {% if caso.situacao_deferimento == situacao_deferimento['INDEFERIDO'][0] %}
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Justificativa do indeferimento:</h4>
            </div>
            <div class="card-body">
              <p>
                {{caso.justif_indeferimento}}
              </p>
            </div>
          </div>
        </div>
        {% endif %}
  </div>
</div>

{% endblock conteudo %}

{% block scripts %}
<script src="{{url_for('static',filename='js/ver_mais.js')}}"></script>

<script type="text/javascript">
	$(document).ready(function() {
	
		$(".descricao").shorten({
	        "showChars" : 30
});
	
	});
</script>

{% endblock scripts %}
