{% extends "base_dashboard.html" %}
{% block titulo %} Lembretes - Caso #{{caso_id}} {{ super() }}{% endblock titulo %}
{% block conteudo %}

    
    
    <div class="row card ml-1 mr-1 card-primary">
        <div class="card-header">
            <h4>Ações:</h4>
            <div class="card-header-action"><a href="{{url_for('casos.cadastrar_lembrete', id_do_caso=caso_id)}}">
                <button  class="btn btn-primary mr-1">Criar Lembrete</button></a>
            </div>
        </div>
    </div>
    {% if lembretes %}
    <div class="row">
        {% for lembrete in lembretes %}
    
        <div class="col-12 col-lg-4">
            <div class="card  card-primary">
                <div class="card-header">
                    <h4>Lembrete #{{lembrete.num_lembrete}}</h4>
                </div>
                <div class="card-body">
                    <p class="clearfix">
                        <span class="float-left">
                        Descrição:
                        </span>
                        <div class="descricao text-muted text-right ">{{lembrete.descricao}}</div>
                    </p>
                    <p class="clearfix">
                        <span class="float-left">
                        Usuário notificado:
                        </span>
                        <span class="float-right text-muted">
                        {{lembrete.usuario.nome}}
                        </span>
                    </p>
                    <p class="clearfix">
                        <span class="float-left">
                        Data de criação:
                        </span>
                        <span class="float-right text-muted">
                        {{lembrete.data_criacao.strftime('%d/%m/%Y')}}
                        </span>
                    </p>
                    <p class="clearfix">
                        <span class="float-left">
                        Data de notificação:
                        </span>
                        <span class="float-right text-muted">
                        {{lembrete.data_lembrete.strftime('%d/%m/%Y')}}
                        </span>
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="{{url_for('casos.editar_lembrete', id_lembrete=lembrete.id)}}"  class="btn btn-primary">Editar</a>
                    {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.COLAB_EXTERNO.value, UserRole.ORIENTADOR.value, UserRole.ESTAGIARIO_DIREITO.value] %}
                    <a href="{{url_for('casos.excluir_lembrete', id_lembrete=lembrete.id)}}" class="btn ml-1 btn-flat btn-danger" 
                    onclick="return confirm('Você deseja excluir este lembrete?');">Excluir</a>
                    {% endif %}
                </div>
            </div>
        </div>
    
        {% endfor %}
    <div>
    {% endif %}


{% endblock conteudo %}

{% block scripts %}
<script src="{{url_for('static',filename='js/ver_mais.js')}}"></script>

<script type="text/javascript">
	$(document).ready(function() {
	
		$(".descricao").shorten({
	        "showChars" : 30
});
	
	});
</script>

{% endblock scripts %}