{% extends "base_dashboard.html" %} {% block titulo %}Gestão de Casos{% endblock %} 

{%block modal %}

  {% include 'modais_card_caso.html' %}

{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='temas_externos/select2.min.css')}}">
{% endblock css %}
{% block conteudo %}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="d-flex ml-auto" style="background-color: none;">
                <div class="ml-auto p-2 ">
                    <select class="form-control" id="filtro" name="filtro">
                        <option value="{{opcoes_filtro_casos['TODOS'][0]}}">{{opcoes_filtro_casos['TODOS'][1]}}</option>
                        <option value="{{opcoes_filtro_casos['AGUARDANDO_DEFERIMENTO'][0]}}">{{opcoes_filtro_casos['AGUARDANDO_DEFERIMENTO'][1]}}</option>
                        <option value="{{opcoes_filtro_casos['ATIVO'][0]}}">{{opcoes_filtro_casos['ATIVO'][1]}}</option>
                        <option value="{{opcoes_filtro_casos['INDEFERIDO'][0]}}">{{opcoes_filtro_casos['INDEFERIDO'][1]}}</option>
                        <option value="{{opcoes_filtro_casos['ARQUIVADO'][0]}}">{{opcoes_filtro_casos['ARQUIVADO'][1]}}</option>
                        <option value="{{opcoes_filtro_casos['SOLUCIONADO'][0]}}">{{opcoes_filtro_casos['SOLUCIONADO'][1]}}</option>
                    </select>
                </div>

                <div class="d-flex flex-row">
                    {% if current_user.urole in [UserRole.ADMINISTRADOR.value, UserRole.PROFESSOR.value, UserRole.ESTAGIARIO_DIREITO.value] %}
                    <a class="ml-auto p-2 btn btn-primary my-2"href="{{url_for('casos.novo_caso')}}">Cadastrar Caso</a>
           {% endif %}
                </div>
            </div>
            <br>

            <div class="section-body">
                <div class="row" id="row_casos">

                    {% include 'busca_casos.html' %}

                </div>

            </div>
            {% endblock %} 
            
            {% block scripts %}
              <script src="{{url_for('static',filename='js/card_caso.js')}}"></script>
              <script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
              <script>
                $(document).ready(function() {

                  $("#filtro").change(function() {

                      $.ajax({
                          method: "GET",
                          url: "{{url_for('casos.ajax_filtro_casos')}}",
                          data: {
                              opcao_filtro: $('#filtro').val()
                          },
                          success: (result) => {
                              document.getElementById('row_casos').innerHTML = '';
                              $('#row_casos').append(result);
                          }
                      })

                  });

                  document.getElementById('filtro').value = "{{opcao_filtro}}"

                });
              </script>
              <script>
                $(document).ready(function(){

                  trocaLinkRoteiro();

                  {% for caso in casos.items %}
                    $('#clientes-js{{caso.id}}').select2({
                        ajax: {
                            url: $('#apiCasosBuscarAtendido').val(),
                            dataType: 'json',
                        },
                        
                        delay: 500,
                        width: '100%'
                    });

                    $('#clientes-js{{caso.id}}').on('change', function(){
                        $('#adicao_assistido{{caso.id}}').val($('#clientes-js{{caso.id}}').val().join(','));
                    })
                  {% endfor %}

                  $('#area_direito-js').on('change',function(){
                      trocaLinkRoteiro();
                  });

                  function trocaLinkRoteiro(){
                      $.ajax({
                          url: $('#apiCasosBuscarRoteiro').val(),
                          data:{termo: $('#area_direito-js').val()}
                        }).done(function(data) {
                            if (data.link){
                              $('#link-roteiro').attr('href', data.link);
                              $('#link-roteiro').removeClass('disabled');
                            }else{
                              $('#link-roteiro').addClass('disabled');
                            }
                        });
                  }
              })
              </script>
            {% endblock %}