{{ form.csrf_token }}

                <div class="form-group row" id="div_nome">
                    <label class="col-lg-4 col-form-label" for="nome">{{form.nome.label}}<span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form_field(form.nome, class="form-control")}}
                    </div>
                </div>

                {% for error in form.nome.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="areas_atendidas">{{form.areas_atendidas.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.areas_atendidas, id="areas_atendidas", class="form-control", multiple="multiple")}}
                    </div>
                </div>

                {% for error in form.areas_atendidas.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="telefone">{{form.telefone.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.telefone, type="text",class="form-control",id="telefone")}}
                    </div>
                </div>

                {% for error in form.telefone.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="email">{{form.email.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.email, type="email", class="form-control")}}
                    </div>
                </div>

                {% for error in form.email.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" ><h3>Endereço</h3></div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="logradouro">{{form.logradouro.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.logradouro, type="text", class="form-control")}}
                    </div>
                </div>

                {% for error in form.logradouro.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="numero">{{form.numero.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.numero, type="text", class="form-control")}}
                    </div>
                </div>

                {% for error in form.numero.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="complemento">{{form.complemento.label}}</label>
                    <div class="col-lg-6">
                        {{form_field(form.complemento, type="text", class="form-control")}}
                    </div>
                </div>

                {% for error in form.complemento.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="bairro">{{form.bairro.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.bairro, type="text", class="form-control")}}
                    </div>
                </div>

                {% for error in form.bairro.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="cep">{{form.cep.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.cep, type="text", class="form-control")}}
                    </div>
                </div>

                {% for error in form.cep.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="regiao">{{form.regiao.label}}<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        {{form_field(form.regiao, class="form-control")}}
                    </div>
                </div>

                {% for error in form.regiao.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_cidade">
                    <label class="col-lg-4 col-form-label" for="val-cidade">{{form.cidade.label}}<span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form_field(form.cidade, type="text",class="form-control")}}
                    </div>
                </div>

                {% for error in form.cidade.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}

                <div class="form-group row" id="div_estado">
                    <label class="col-lg-4 col-form-label" for="val-estado">{{form.estado.label}}<span class="text-danger">*</span>
                    </label>
                    <div class="col-lg-6">
                        {{form_field(form.estado, type="text",class="form-control")}}
                    </div>
                </div>

                {% for error in form.estado.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}