{% extends "base/painel_principal.html" %}
{% block titulo %}Evento #{{entidade_evento.num_evento}}{%endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h4>Ações:</h4>
                <div  class="card-header-action">
                      <a style="display:inline"  href="{{url_for('casos.editar_evento', id_evento = entidade_evento.id)}}"><button  class="btn btn-primary">Editar</button></a>
                    <form style="display:inline"  action="{{url_for('casos.excluir_evento', id_evento = entidade_evento.id)}}" method="POST">
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn ml-1 btn-flat btn-danger mr-2" onclick="return confirm('Você deseja excluir este evento?');">
                            Excluir
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <p></p>
                <p class="clearfix">
                  <span class="float-left">
                  Data de Criação:
                  </span>
                  <span class="float-right text-muted">
                  {{entidade_evento.data_criacao.strftime('%d/%m/%Y')}}
                  </span>
                </p>
                <p class="clearfix">
                    <span class="float-left">
                    Data do Ocorrido:
                    </span>
                    <span class="float-right text-muted">
                    {{entidade_evento.data_evento.strftime('%d/%m/%Y')}}
                    </span>
                </p>
                <p class="clearfix">
                    <span class="float-left">
                    Tipo de Evento:
                    </span>
                    {% for key in tipo_evento %}
                    {% if entidade_evento.tipo == tipo_evento[key][0] %}
                    <span class="float-right text-muted">{{tipo_evento[key][1]}}</span>
                    {% endif %}
                    {% endfor %}
                </p>
                <p class="clearfix">
                    <span class="float-left">
                    Usuário Responsável:
                    </span>
                    <span class="float-right text-muted">{{formatarNomeDoUsuario(entidade_evento.id_usuario_responsavel)}}</span>
                </p>
                <p class="clearfix">
                    <span class="float-left">
                    Descrição:
                    </span>
                    <div class="descricao text-muted text-right">{{entidade_evento.descricao}}</div>
                </p>
            </div>
            <div class="card-footer text-right">
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4>Arquivos Anexados:</h4>
          </div>
          <div class="card-body">
            <div class="card card-primary">
              {% if arquivos %}
                {% for arquivo in arquivos %}
                  <div class="card-header">
                    <h4 style="font-weight: normal">
                      {{arquivo.link_arquivo}}
                    </h4>
                    <div class="card-header-action">
                      <a class="btn btn-primary mr-1" href="{{url_for('static', filename='casos/'+arquivo.link_arquivo)}}">Vizualizar</a>
                    </div>
                    <div class="card-header-action">
                      <a href="{{url_for('static', filename='casos/{}'.format(arquivo.link_arquivo) )}}" class="btn btn-primary {{'disabled' if not arquivo else None}}" target="_blank" download="{{arquivo.link_arquivo}}" >Download</a>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="card-header">
                  <h4 style="font-weight: normal">
                    Nenhum arquivo cadastrado
                  </h4>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock conteudo %}
