{% extends "base_dashboard.html" %}
{% block titulo %}Editar senha{% endblock titulo %}
{% block conteudo %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form class="form" action="" method="POST" id="form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group row">
                        <label for="senha" class="col-12 col-lg-6 offset-lg-1 col-form-label">Nova senha:</label>
                        <div class="col-12 col-lg-6 offset-lg-1">
                            <input class="form-control" type="password" id="senha" name="senha" required maxlength="60" placeholder="Escolha uma senha segura">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="confirmacao" class="col-12 col-lg-6 offset-lg-1 col-form-label">Confirme sua senha:</label>
                        <div class="col-12 col-lg-6 offset-lg-1">
                            <input class="form-control" type="password" id="confirmacao" name="confirmacao" required maxlength="60" placeholder="Confirme sua senha">
                        </div>
                    </div>
                    
                    <button class="btn btn-flat btn-primary font-weight-normal" type="submit" id="button">Confirmar</button>
                    <button type="button" class="btn btn-flat btn-primary font-weight-normal"><a href="{{url_for('principal.index')}}" style="color: inherit; text-decoration: none;">Cancelar</a></button>
                
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    //Trato o botão do form
    document.getElementById('form').onsubmit= function() {document.getElementById('button').disabled = true};
</script>
{% endblock %}
