<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Gestão Legal DAJ</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_tema/assets/css/app.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='app_tema/assets/bundles/izitoast/css/iziToast.min.css')}}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_tema/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app_tema/assets/css/components.css')}}">
    <!-- Custom style CSS -->
    <link rel='shortcut icon' type='image/x-icon'
    href="{{url_for('static', filename='app_tema/assets/img/favicon.ico')}}" />
</head>
<style>
    .card .card-header-auth {
      background: linear-gradient(135deg, #38B5FD, 100%, #583a63 100%) !important;
    }
  
    .card .card-header-auth h4 {
      color: #ffffff !important;
    }
  
    .btn-auth-color {
      background: linear-gradient(135deg, #38B5FD, 100%, #583a63 100%) !important;
      color: #ffffff !important;
    }
  </style>
<body>
    <div class="loader"></div>
    <div id="flashes" class="d-none">
        <div id="flashes" class="d-none">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div data-category="{{category}}" class="flash-message">{{message}}</div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
      <div id="app">
        <section class="section">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="login-brand login-brand-color">
                  <div class="logo"><img alt="image" width="177" height="200"
                      src="{{url_for('static', filename='imgs_daj/gestao_legal_teste.png')}}"></div>
                </div>
                <div class="card">
                  <div class="card-header card-header-auth">
                    <h4>Recuperação de senha</h4>
                  </div>
                  <div class="card-body">
                    <form method="POST" action="{{url_for('usuario.recuperar_senha')}}" class="needs-validation" novalidate="">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="Informe seu e-mail" tabindex="1" required autofocus>
                        <div class="invalid-feedback">
                          Por favor preencha seu email
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-block btn-auth-color" tabindex="4">
                          Enviar e-mail de recuperação
                        </button>
                      </div>
                    </form>
    
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </section>
      </div>

    <!-- General JS Scripts -->
    <script src="{{url_for('static', filename='app_tema/assets/js/app.min.js')}}"></script>
    <!-- JS Libraies -->
    <script src="{{url_for('static', filename= 'app_tema/assets/bundles/izitoast/js/iziToast.min.js')}}"></script>
    <!-- Page Specific JS File -->
    <script src="{{url_for('static',filename='js/base-utils.js')}}"></script>
    <!-- Template JS File -->
    <script src="{{url_for('static', filename='app_tema/assets/js/scripts.js')}}"></script>
</body>
</html>