{% extends "base_dashboard.html" %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li><b>{{ message }}</b></li>
  {% endfor %}
</ul>
{% endif %}
{% if assistidos.count() != 0 %}
{% if Jud_Fis == 'F' %}
<h2>Assistidos (Pessoas Físicas)</h2>
{% else: %}
<h2>Assistidos (Pessoas Jurídicas)</h2>
{% endif %}
<table class="table table-hover" id="table-2" role="grid" aria-describedby="table-2_info">
    <thead>
        <tr role="row">
            <th>Nome</th>
            {% if Jud_Fis == 'F' %}
            <th>CPF</th>
            {% else: %}
            <th>CNPJ</th>
            {% endif %}
            <th>Telefone</th>
            <th>E-mail</th>
            {% if current_user.urole == "admin" %}
            <th>Excluir</th>
            {% endif %}
            {% if current_user.urole == "admin" or current_user.urole == "colab_proj" or current_user.urole == "estag_direito" %}
            <th>Editar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for assistido in assistidos %}
        {% for atendido in atendidos %}
        {% if atendido.id == assistido.id_atendido: %}
        <tr role="row" class="odd">
            <td class="sorting_1">{{atendido.nome}}</td>
            {% if Jud_Fis == 'F' %}
            <td>{{atendido.cpf}}</td>
            {% else %}
            <td>{{atendido.cnpj}}</td>
            {% endif %}
            <td>{{atendido.telefone}}</td>
            <td>{{atendido.email}}</td>
            {% endif %}
            {% endfor %}
            {% if current_user.urole == "admin" %}
            <td>
                <form action="{{url_for('plantao.excluir_assistido', tipo = Jud_Fis, id_assistido = assistido.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div>
                      <input type="hidden" id="id" name="id" value="{{assistido.id}}">
                    </div>
                    <button type="submit" class="btn mb-1 btn-flat btn-primary btn-sm"
                      onclick="return confirm('Você deseja excluir este assistido?');">Excluir Assistido</button>
                  </form>
            </td>
            {% endif %}
            {% if current_user.urole == "admin" or current_user.urole == "colab_proj" or current_user.urole == "estag_direito" %}
            <td><button type="submit" class="btn mb-1 btn-flat btn-primary btn-sm" name="button"><a
                  href="{{url_for('atendido.editar_assistido', id_atendido = assistido.id_atendido)}}"
                  style="text-decoration: none;color: white;">Editar Assistido</a></button></td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div style="margin: 15px;">
    <h3>Nenhum assistido no momento, deseja cadastrar um novo?</h3>
    <a href="{{url_for('atendido.listar_atendidos')}}" class="btn btn-primary">Cadastrar novo assistido</a>
</div>
{% endif%}
{% endwith %}
{% endblock %}
