{% extends "base_dashboard.html" %}
{% block titulo %}Registro de Presença do Plantão{% endblock titulo %}


{% block conteudo %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="row">
  <div class="col-12">
    <div class="card card-primary">
      <div class="card-header">
          <h4>{{current_user.nome}} - {{UserRole.get_display_name(current_user.urole)|upper}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4 ">
        <div class="card ">
            <div class="card-header d-flex justify-content-center">
                <h4>Data de hoje: </h4>
            </div>
            <div class="card-body d-flex justify-content-center">
            <h6>{{data_hora_atual.strftime("%d/%m/%Y")}}</h6>
            </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 ">
        <div class="card ">
            <div class="card-header d-flex justify-content-center">
                <h4>Registrando </h4>
            </div>
            <div class="card-body d-flex justify-content-center">
            <h6 class="text-danger" id="status_registro">{{status_presenca}}</h6>
            </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 ">
        <div class="card ">
            <div class="card-header d-flex justify-content-center">
                <h4>Horário: </h4>
            </div>
            <div class="card-body row d-flex justify-content-center">
            <input id="hora_registrada" type="time" style="width: 40%; text-align: center; font-weight: 700;" value="{{data_hora_atual.strftime('%H:%M')}}">

            </div>
      </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    
    <button class="btn btn-primary col-lg-3" id="registraPresenca">Registrar</button>
    
</div>

<input type="hidden" id="hdnAjaxRegistraPresenca" value="{{url_for('plantao.ajax_registra_presenca')}}">

{% endblock conteudo %}



{% block scripts %}
<script src="{{url_for('static',filename='js/card_caso.js')}}"></script>
<script src="{{url_for('static', filename='js/registro_presenca.js')}}"></script>
<!-- Dialog Box-->
{% endblock scripts %}