{% extends "base/painel_principal.html" %}
{%block titulo%}Editar Arquivo{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block conteudo %}
<div class="form-container">
    <div class="form-content">
        <form action="{{url_for('arquivos.editar_arquivo', id=arquivo.id)}}" method="POST" id="form"
            enctype="multipart/form-data">
            {% include "arquivos/formulario_base_arquivo.html" %}

            {% if arquivo and arquivo.nome %}

            <div class="form-field">
                <div class="field-row">
                    <label>Arquivo Atual</label>
                    <div class="field-input">
                        <div class="flex gap-3">
                            <span class="file-name">{{ arquivo.nome }}</span>
                            <a target="_blank" href="{{url_for('static', filename='arquivos/'+arquivo.nome)}}" class="text-primary">Baixar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="submitBtn">Salvar Alteração</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}