{% extends "base/painel_principal.html" %}

{% block titulo %}
<div class="d-flex justify-content-between align-items-center">
    <span>{{arquivo.titulo}}</span>
    <a class="btn btn-primary" target="_blank" href="{{url_for('static', filename='arquivos/'+arquivo.nome)}}">Baixar</a>
</div>
{%endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Descrição:</h4>
            </div>
            <div class="card-body">
                <p>
                    {{arquivo.descricao}}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}