{% extends "base_dashboard.html" %}

{% block titulo %}Gestão de Usuários{% endblock %}

{% block conteudo %}
<nav class="d-inline-block">
  <ul class="pagination mb-0">
    {% for page_num in usuarios.iter_pages(left_edge=3, right_edge=3, left_current=2, right_current=2) %}
    {% if page_num and usuarios.page == page_num%}
    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
    {% elif page_num %}
    <li class="page-item"><a class="page-link"
        href="{{ url_for('usuario.listar_usuarios', page=page_num) }}">{{ page_num }}</a>
      {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="d-flex flex-row ">
        {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0], usuario_urole_roles['PROFESSOR'][0]] %}
        <button type="submit" name="button" class="btn btn-primary ml-auto p-2">
          <a style="color: inherit; text-decoration: none;" href="{{url_for('usuario.cadastrar_usuario')}}">Cadastrar
            Usuário</a>
        </button>
        {% endif %}
      </div>
    </div>
    <div class="container table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Função</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios.items %}
          <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            {% for key in usuario_urole_roles %}
            {% if usuario_urole_roles[key][0] == usuario.urole %}
            <td><span>{{usuario_urole_roles[key][1]}}</span></td>
            {% endif %}
            {% endfor %}
            <td>
              <div class="row">
                <button type="submit" class="btn ml-2 mr-2 btn-flat btn-primary btn-sm" name="button"><a
                    href="{{url_for('usuario.perfil_usuario', id_user = usuario.id)}}"
                    style="text-decoration: none;color: white;">Visualizar</a></button>
                {% if current_user.urole in [usuario_urole_roles['ADMINISTRADOR'][0],usuario_urole_roles['PROFESSOR'][0]] and (usuario.id != admin_padrao or current_user.id == admin_padrao)%}
                <button type="submit" class="btn mr-1 btn-flat btn-primary btn-sm" name="button"><a
                    href="{{url_for('usuario.editar_usuario', id_user = usuario.id)}}"
                    style="text-decoration: none;color: white;">Editar</a></button>
                {% endif %}
                {% if current_user.urole == usuario_urole_roles['ADMINISTRADOR'][0] and usuario.id != admin_padrao %}
                <form action="{{url_for('usuario.inativar_usuario_lista')}}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <div>
                    <input type="hidden" name="id" value="{{usuario.id}}">
                  </div>
                  <button type="submit" class="btn ml-1 btn-flat btn-danger btn-sm"
                    onclick="return confirm('Você deseja realmente inativar este usuário?');">Excluir</button>
                </form>
                {% endif %}
                {% if current_user.urole == usuario_urole_roles['ADMINISTRADOR'][0] and usuario.id != admin_padrao %}
                <form action="{{url_for('usuario.muda_senha_admin')}}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <div>
                    <input type="hidden" name="id" value="{{usuario.id}}">
                  </div>
                  <button type="submit" class="btn ml-1 btn-flat btn-warning btn-sm"
                    onclick="return confirm('Você deseja realmente trocar a senha deste usuário?');">Mudar Senha</button>
                </form>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}