{% macro form_label(field, offset=True) %}
    {% if field.flags.required %}
        {% if offset %}
            {{ field.label(text=field.label.text+'<span class="text-danger">*</span>', class_='col-12 col-lg-6 offset-lg-1 col-form-label')|safe}}
        {% else %}
            {{ field.label(text=field.label.text+'<span class="text-danger">*</span>', class_='col-12 col-form-label')|safe}}
        {% endif %}
    {% else %}
        {% if offset %}
            {{ field.label(class_='col-12 col-lg-6 offset-lg-1 col-form-label')}}
        {% else %}
            {{ field.label(class_='col-12 col-form-label')}}
        {% endif %}
    {% endif %}
{% endmacro %}


{{ form.csrf_token }}

<div class="form-group row">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.nome.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.nome(type="text", class_="form-control")}}
    </div>
</div>

{% for error in form.nome.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.email.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.email(type="email", class_="form-control")}}
    </div>
</div>

{% for error in form.email.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

{% if tipo_classe(form, "CadastrarUsuarioForm") %}
    <div class="row">
        <div class="col-12 col-md-3 offset-lg-1">
            <div class="row form-group">
                <div class="col">
                    {{form.senha.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                    {{form.senha(type="password", class_="form-control", placeholder="Digite sua senha...")}}
                    <p style="font-size: 8pt; color: rgb(180, 180, 180); line-height: 15px;">A sua senha deve:</br>
                    -Ter mais que 6 caracteres.</br>
                    -Conter pelo menos 1 número.</br>
                    -Conter pelo menos 1 letra maiúscula.</br>
                    -Conter pelo menos 1 letra do alfabeto.</br>
                    -Conter um dos seguintes caracteres especiais:</br>
                    . , ; @ # .</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row form-group">
                <div class="col">
                    {{form.confirmacao.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                    {{form.confirmacao(type="password", class_="form-control", placeholder="Digite novamente para confirmar...")}}
                </div>
            </div>
        </div>
    </div>

    {% for error in form.senha.errors %}
    <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    {% for error in form.confirmacao.errors %}
    <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
{% endif %}

<div class="form-group row">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.urole.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.urole(class_="form-control")}}
    </div>
</div>

{% for error in form.urole.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row mt-5">
    <h3>Dados Pessoais</h3>
</div>

<div class="form-group row">
    <div class="col-12 col-md-3 col-lg-2 align-self-end offset-lg-1">
        {{form.sexo.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.sexo(type="text",class_="form-control")}}
        {% for error in form.sexo.errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-3 col-lg-2 align-self-end">
        {{form.estado_civil.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.estado_civil(type="number",class_="form-control")}}
        {% for error in form.estado_civil.errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-2 col-lg-2 mt-md-4 align-self-end">
        {{form.nascimento.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.nascimento(type="date", class_="form-control p-2")}}
        {% for error in form.nascimento.errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.profissao.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.profissao(type="text", class_="form-control")}}
    </div>
</div>

{% for error in form.profissao.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.telefone.label(class_="font-weight-bold")}}
                {{form.telefone(type="text", class_="form-control", id="formtel")}}
                {% for error in form.telefone.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.celular.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.celular(type="text", class_="form-control", id="formcel")}}
                {% for error in form.celular.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="form-group row mt-5">
    <h3>Endereço</h3>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.logradouro.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.logradouro(type="text",class_="form-control")}}

    </div>
    {% for error in form.logradouro.errors %}
    <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.complemento.label(class_="font-weight-bold")}}
                {{form.complemento(type="text", class_="form-control")}}
                {% for error in form.complemento.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.numero.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.numero(type="text", class_="form-control")}}
                {% for error in form.numero.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.bairro.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.bairro(type="text", class_="form-control")}}
                {% for error in form.bairro.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.cep.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.cep(type="text", class_="form-control", id="formcep")}}
                {% for error in form.cep.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.cidade.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.cidade(class_="form-control")}}
                {% for error in form.cidade.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.estado.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.estado(class_="form-control")}}
                {% for error in form.estado.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="form-group row mt-5">
    <h3>Documentos</h3>
</div>

<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.rg.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.rg(type="text", class_="form-control")}}
                {% for error in form.rg.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.cpf.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.cpf(type="text", class_="form-control", id="formcpf")}}
                {% for error in form.cpf.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    {{form_label(form.oab)}}
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.oab(type="text", class_="form-control")}}
    </div>
</div>

{% for error in form.oab.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.data_entrada.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.data_entrada(type="date", class_="form-control")}}
                {% for error in form.data_entrada.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.data_saida.label(class_="font-weight-bold")}}
                {{form.data_saida(type="date", class_="form-control")}}
                {% for error in form.data_saida.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3 offset-lg-1">
        <div class="row form-group">
            <div class="col">
                {{form.bolsista.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
                {{form.bolsista(class_="form-control")}}
                {% for error in form.bolsista.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row form-group">
            <div class="col">
                {{form.matricula.label(class_="font-weight-bold")}}
                {{form.matricula(type="text", class_="form-control")}}
                {% for error in form.matricula.errors %}
                <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% for error in form.bolsista.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row" id="div_tipo_bolsa" hidden="true">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.tipo_bolsa.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.tipo_bolsa(class_="form-control")}}
    </div>
</div>

{% for error in form.tipo_bolsa.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row" id="div_inicio_bolsa" hidden="true">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.inicio_bolsa.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.inicio_bolsa(type="date",class_="form-control", id="inicio_bolsa")}}
    </div>
</div>

{% for error in form.inicio_bolsa.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row" id="div_fim_bolsa" hidden="true">
    {{form_label(form.fim_bolsa)}}
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.fim_bolsa(type="date",class_="form-control", id="fim_bolsa")}}
    </div>
</div>

{% for error in form.fim_bolsa.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row">
    {{form_label(form.horario_atendimento)}}
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.horario_atendimento(class_="form-control")}}
    </div>
</div>

{% for error in form.horario_atendimento.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row">
    {{form_label(form.suplente)}}
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.suplente(type="text",class_="form-control")}}
    </div>
</div>

{% for error in form.suplente.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row">
    {{form_label(form.ferias)}}
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.ferias(type="text",class_="form-control")}}
    </div>
</div>

{% for error in form.ferias.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<!-- --------------------------Certifcado de Atuação DAJ------------------------------>
<div class="form-group row mt-5">
    <h3>Certificado de Atuação DAJ</h3>
</div>

<div class="form-group row">
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.cert_atuacao_DAJ.label(class_="font-weight-bold")}}<span class="text-danger">*</span>
        {{form.cert_atuacao_DAJ(class_="form-control")}}
    </div>
</div>

{% for error in form.cert_atuacao_DAJ.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

<div class="form-group row">
    {{form_label(form.obs)}}
    <div class="col-12 col-lg-6 offset-lg-1">
        {{form.obs(class_="form-control")}}
    </div>
</div>

{% for error in form.obs.errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}

{{form.submit(class_='btn btn-primary')}}
