{% extends "base/painel_principal.html" %}
{%block titulo%}Cadastro de Orientação Jurídica{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
<style>
    input[type=number]::webkit-inner-spin-button,
    input[type=number]::webkit-outer-spin-button {
        -webkit-appearence: none !important;
        margin: 0 !important;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block conteudo %}
<div class="card pessoa" id="pessoa">
    <div class="card-body">
        <div class="form-group row">
            <h3>Dados da Orientação Jurídica</h3>
        </div>
        <div style="height: 30px;"></div>
        <div class="form-validation">
            <form class="form-valide" action="" method="POST" id="form">

                {% include "orientacao_juridica/formularios/formulario_orientacao_juridica.html" %}

            </form>
        </div>
    </div>
</div>
<div class="card pessoa">
    <div class="card-body d-flex justify-content-end" style="gap:12px;">
        <button type="button" id="case" class="btn btn-outline-primary">Converter em caso</button>
        <button type="button" class="btn btn-primary" id="buttonForward">Continuar</button>
    </div>
</div>
{% endblock %}