{% extends "base/painel_principal.html" %}
{% block titulo %}Configurar abertura - {{ periodo }}{% endblock titulo %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/calendario.css') }}">
{% endblock css %}
{% block conteudo %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <input type="hidden" id="dias_plantao" value="{{ dias_front }}">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h4>Duração do Plantão</h4>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <div class="calendar">
                        <div class="year-header">
                            <span class="left-button" id="prev"> &lang; </span>
                            <span class="year" id="label"></span>
                            <span class="right-button" id="next"> &rang; </span>
                        </div>
                        <table class="months-table">
                            <tbody>
                            <tr class="months-row">
                                <td class="month" id="month0">Jan</td>
                                <td class="month" id="month1">Fev</td>
                                <td class="month" id="month2">Mar</td>
                                <td class="month" id="month3">Abr</td>
                                <td class="month" id="month4">Mai</td>
                                <td class="month" id="month5">Jun</td>
                                <td class="month" id="month6">Jul</td>
                                <td class="month" id="month7">Ago</td>
                                <td class="month" id="month8">Set</td>
                                <td class="month" id="month9">Out</td>
                                <td class="month" id="month10">Nov</td>
                                <td class="month" id="month11">Dez</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="days-table">
                            <td class="day">D</td>
                            <td class="day">S</td>
                            <td class="day">T</td>
                            <td class="day">Q</td>
                            <td class="day">Q</td>
                            <td class="day">S</td>
                            <td class="day">S</td>
                        </table>
                        <div class="frame">
                            <table class="dates-table">
                                <tbody class="tbody">
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center ">
                            {# <button class="button" id="escolhe_data" data-toggle="modal" data-target="#confirmacao">Salvar</button> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    <h4>Abertura do Plantão </h4>
                </div>
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="" method="POST" id="form">
                            {% include "abrir_plantao_form.html" %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4>Fechamento do Plantão </h4>
                </div>
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="" method="POST" id="form">
                            {% include "fechar_plantao_form.html" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <button class="button btn-block" id="escolhe_data" onclick="ModalManager.open('confirmacao')">Salvar
            </button>
        </div>
        <div class="col-sm"></div>
    </div>
{% endblock conteudo %}
{% block modal %}
    <!-- Modal -->
    <div class="modal-overlay modal-hidden" 
         id="confirmacao" 
         role="dialog" 
         aria-modal="true" 
         aria-labelledby="confirmacao_title"
         aria-describedby="confirmacao_body">
        <div class="modal-content modal-md" tabindex="-1">
            <div class="modal-header">
                <h2 class="modal-title" id="confirmacao_title">Deseja confirmar a duração do plantão?</h2>
                <button type="button" class="modal-close" onclick="ModalManager.close('confirmacao')" aria-label="Fechar modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmacao_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="ModalManager.close('confirmacao')">Cancelar</button>
                {{ form.hidden_tag() }}
                <input type="hidden" id="hdnAjaxDuracao"
                       value="{{ url_for('api.obter_duracao_plantao') }}">
                <input type="hidden" id="hdnAjaxSalvaConfig"
                       value="{{ url_for('api.salva_config_plantao') }}">
                <button type="button" id="salva_configuracoes" class="btn btn-primary" onclick="ModalManager.close('confirmacao')">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
{% endblock modal %}
{% block scripts %}
    <script src="{{ url_for('static',filename='js/selecionar_duracao.js') }}"></script>
{% endblock scripts %}