{% extends "base/painel_principal.html" %}

{% block titulo %}Relatórios{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{url_for('static',filename='css/native_select.css')}}">
{% endblock css %}

{% block conteudo %}
        <input type="hidden" id="apiRelatoriosBuscarUsuarios" value="{{url_for('api.relatorios_buscar_usuarios', _external=True)}}">
        <input type="hidden" id="apiRelatoriosBuscaAreasDireito" value="{{url_for('api.relatorios_buscar_area_direito', _external=True)}}">
        <div class="card">
            <div class="card-body">
                <form class="form" action="" method="POST" id="form" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="form-group row">
                       <label class="col-12 col-lg-6 offset-lg-1 col-form-label">Tipo de relatório:</label>
                         <div class="col-12 col-lg-6 offset-lg-1">
                            {{form.tipo_relatorio(class_="form-control")}}
                         </div>
                    </div>
                    
                    <div class="form-group row" id="escolhe_usuario">
                        <label class="col-12 col-lg-6 offset-lg-1 col-form-label">Usuários:</label>
                          <div class="col-12 col-lg-6 offset-lg-1">
                            <select class="js-example-basic-multiple form-control" id="usuarios-js" style="width:100%" multiple="multiple"></select>
                            
                          </div>
                    </div>

                    <div class="form-group row" id="escolhe_area_direito">
                        <label class="col-12 col-lg-6 offset-lg-1 col-form-label">Área do Direito:</label>
                          <div class="col-12 col-lg-6 offset-lg-1">
                            <select class="js-example-basic-multiple form-control" id="areaDoDireito" style="width:100%" multiple="multiple">
                            </select>
                          </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-lg-6 offset-lg-1 col-form-label">Período:</label>
                          <div class="col-12 col-lg-6 offset-lg-1 row">
                                <div class="col-5">
                                    {{form.data_inicio(type="date", class_="form-control")}}
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <label>à</label>
                                </div>
                                <div class="col-5">
                                    {{form.data_final(type="date", class_="form-control")}}
                                </div>
                          </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6 offset-lg-1">
                            {{form.submit(class_='btn btn-flat btn-primary')}}
                        </div>
                    </div>
                </form>
            </div>
        </div>


       

{% endblock conteudo %}
{% block scripts %}
<script src="{{url_for('static',filename='js/native_select.js')}}"></script>
<script>
    function esconde_campos(){
        switch(document.getElementById('tipo_relatorio').value){
            case "horario_usuarios":
                document.getElementById('escolhe_usuario').classList.remove('hidden-field')
                document.getElementById('escolhe_area_direito').classList.add('hidden-field')
                break
            case "casos_orientacao":
                document.getElementById('escolhe_usuario').classList.add('hidden-field')
                document.getElementById('escolhe_area_direito').classList.remove('hidden-field')
                break 
            case "casos_cadastrados":
                document.getElementById('escolhe_usuario').classList.add('hidden-field')
                document.getElementById('escolhe_area_direito').classList.remove('hidden-field')
                break    
            case "casos_arquiv_soluc_ativ":
                document.getElementById('escolhe_usuario').classList.add('hidden-field')
                document.getElementById('escolhe_area_direito').classList.remove('hidden-field')
                break 
        }
    }

    document.addEventListener('DOMContentLoaded', function(){

        // Initialize native select for usuarios
        const usuariosSelect = new NativeSelect(document.getElementById('usuarios-js'), {
            ajax: {
                url: document.getElementById('apiRelatoriosBuscarUsuarios').value,
                delay: 500,
                params: {}
            },
            placeholder: 'Selecione um usuário',
            multiple: true,
            allowClear: true,
            width: '100%'
        });

        document.getElementById('usuarios-js').addEventListener('change', function(){
            document.getElementById('usuarios').value = document.getElementById('usuarios-js').value.join(',');
        })

        // Initialize native select for area do direito
        const areaDireitoSelect = new NativeSelect(document.getElementById('areaDoDireito'), {
            ajax: {
                url: document.getElementById('apiRelatoriosBuscaAreasDireito').value,
                delay: 500,
                params: {}
            },
            placeholder: 'Selecione uma Área do Direito...',
            multiple: true,
            allowClear: true,
            width: '100%'
        })

        document.getElementById('areaDoDireito').addEventListener('change', function(){
            document.getElementById('area_direito').value = document.getElementById('areaDoDireito').value.join(',');
        })

        esconde_campos()
    })

    document.getElementById("tipo_relatorio").onchange = function() {
        esconde_campos()
    }

    
</script>
{% endblock %}