{% extends "base/painel_principal.html" %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='imgs_daj/GL_icon.png')}}" />
</head>

{% block conteudo %}
<body>
  <div class="table-responsive" style="width:99%">
    <table class="table table-striped">
        <thead>
          <tr>
            <th class="d-none" colspan="2">
              <h2>
                {% block titulo %}Relatório Nº de Casos Cadastrados <a class="btn btn-primary" href="{{url_for('relatorios.index')}}"><i class="icon icon-undo-alt"></i></a>{% endblock titulo %}
              </h2>
            </th>
          </tr>
          <tr class="table-active">
            <th colspan="2">
              <h4>{{datas[0]}} - {{datas[1]}}</h4>
            </th>
          </tr>
          <tr class="table-active">
            <th scope="col">Área do Direito</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% for caso in casos %}
            <tr>
              {% for key in assistencia_jud_areas_atendidas %}
                {% if assistencia_jud_areas_atendidas[key][0] == caso[0] %}
                  <td>{{assistencia_jud_areas_atendidas[key][1]}}</td>
                {% endif %}
              {% endfor %}
              <td>{{caso[1]}}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>
              <h6>Emitido em: {{data_emissao}}</h6>
            </th>
          </tr>
          <tr>
            <th>
              <h6>Emitido por: {{usuario}}</h6>
            </th>
          </tr>
        </tfoot>
    </table>
  </div>
    <button class='btn btn-flat btn-primary'>Baixar Relatório</button>
</body>
{% endblock conteudo %}

{% block scripts %}
<script>
  function download_csv(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV FILE
      csvFile = new Blob([csv], {type: "text/csv"});

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // We have to create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Make sure that the link is not displayed
      downloadLink.style.display = "none";

      // Add the link to your DOM
      document.body.appendChild(downloadLink);

      // Lanzamos
      downloadLink.click();
  }

  function export_table_to_csv(html, filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
      for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");
      
          for (var j = 0; j < cols.length; j++) 
              row.push(cols[j].innerText);
          
      csv.push(row.join(","));    
    }

      // Download CSV
      download_csv(csv.join("\n"), filename);
  }

  document.querySelector("button").addEventListener("click", function () {
      var html = document.querySelector("table").outerHTML;
    export_table_to_csv(html, "table.csv");
  });
</script>
{% endblock scripts %}