{% extends "base/painel_principal.html" %}
{%block titulo%}Tornar Assistido{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block conteudo %}
<div class="form-container" id="pessoa">
    <div class="form-content" style="padding-top: 0;">
        <form class="cadastro-form" action="{{url_for('atendido.tornar_assistido', id_atendido = atendido.id)}}" method="POST" id="form" novalidate>
            {% include "atendidos/formularios/formulario_assistido.html" %}
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="button">Tornar Assistido</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/form_utilities.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        FormUtils.initializeFormWithValidation({
            formId: 'form',
            buttonId: 'button',
            masks: [
                {
                    selector: '#rg',
                    pattern: FormUtils.MASK_PATTERNS.CPF
                }
            ],
            conditionalFields: [
                {
                    triggerId: 'possui_veiculos',
                    fieldsToToggle: ['div_possui_veiculos_obs', 'div_quantos_veiculos', 'div_ano_veiculo'],
                    condition: (trigger) => trigger.value === 'True'
                },
                {
                    triggerId: 'possui_outros_imoveis',
                    fieldsToToggle: ['div_quantos_imoveis'],
                    condition: (trigger) => trigger.value === 'True'
                },
                {
                    triggerId: 'beneficio',
                    fieldsToToggle: ['div_qual_beneficio'],
                    condition: (trigger) => trigger.value === 'outro'
                },
                {
                    triggerId: 'doenca_grave_familia',
                    fieldsToToggle: ['div_pessoa_doente'],
                    condition: (trigger) => trigger.value === 'sim'
                },
                {
                    triggerId: 'pessoa_doente',
                    fieldsToToggle: ['div_pessoa_doente_obs'],
                    condition: (trigger) => trigger.options[trigger.selectedIndex]?.text === '{{qual_pessoa_doente["OUTROS"][1]}}'
                }
            ],
            dateRanges: [],
            preventWheel: true,
            enableValidation: true
        });
    });
</script>
{%endblock%}
